@import "variables";
@import "avenir-next-cyr";
@import "magistral-c";

@import "../../../node_modules/bootstrap/scss/_functions";
@import "../../../node_modules/bootstrap/scss/_variables";
@import "../../../node_modules/bootstrap/scss/_mixins";
@import "../../../node_modules/bootstrap/scss/_root";
@import "../../../node_modules/bootstrap/scss/_reboot";
@import "../../../node_modules/bootstrap/scss/_type";
@import "../../../node_modules/bootstrap/scss/_images";
@import "../../../node_modules/bootstrap/scss/_code";
@import "../../../node_modules/bootstrap/scss/_grid";
@import "../../../node_modules/bootstrap/scss/_tables";
@import "../../../node_modules/bootstrap/scss/_forms";
@import "../../../node_modules/bootstrap/scss/_buttons";
@import "../../../node_modules/bootstrap/scss/_transitions";
@import "../../../node_modules/bootstrap/scss/_dropdown";
@import "../../../node_modules/bootstrap/scss/_button-group";
@import "../../../node_modules/bootstrap/scss/_input-group";
@import "../../../node_modules/bootstrap/scss/_custom-forms";
@import "../../../node_modules/bootstrap/scss/_nav";
@import "../../../node_modules/bootstrap/scss/_navbar";
@import "../../../node_modules/bootstrap/scss/_card";
@import "../../../node_modules/bootstrap/scss/_breadcrumb";
@import "../../../node_modules/bootstrap/scss/_pagination";
@import "../../../node_modules/bootstrap/scss/_badge";
@import "../../../node_modules/bootstrap/scss/_jumbotron";
@import "../../../node_modules/bootstrap/scss/_alert";
@import "../../../node_modules/bootstrap/scss/_progress";
@import "../../../node_modules/bootstrap/scss/_media";
@import "../../../node_modules/bootstrap/scss/_list-group";
@import "../../../node_modules/bootstrap/scss/_close";
@import "../../../node_modules/bootstrap/scss/_toasts";
@import "../../../node_modules/bootstrap/scss/_modal";
@import "../../../node_modules/bootstrap/scss/_tooltip";
@import "../../../node_modules/bootstrap/scss/_popover";
@import "../../../node_modules/bootstrap/scss/_carousel";
@import "../../../node_modules/bootstrap/scss/_spinners";
@import "../../../node_modules/bootstrap/scss/_utilities";
@import "../../../node_modules/bootstrap/scss/_print";
@import "../../../node_modules/owl.carousel/src/scss/owl.carousel.scss";

@import "global";
@import "header";
@import "navigation";
@import "clubs-modal";
@import "promo-modal";
@import "alert-modal";
@import "footer";
@import "workouts";
@import "club-map";
@import "club-schedule";
@import "club-announce";
@import "club-gallery";
@import "club-page-nav";
@import "club-season";
@import "club-services";
@import "club-header";
@import "contact-boss-modal";
@import "scroll-control";

/* BANNER AREA START*/
.banner-area {
    .banner-container {
        position: relative;
        width: 100%;

        .star {
            width: 14px;
            height: 14px;
        }

        @include media-breakpoint-down(xl) {
            height: 600px;
        }

        @include media-breakpoint-up(xl) {
            height: 497px;
        }

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            background-image: url(../img/bitmap1.png);
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -3;
        }

        @include media-breakpoint-down(lg) {
            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                background-color: rgba(0, 0, 0, 0.5);
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
                z-index: -2;
            }
        }

        .container-fluid {
            position: relative;

            .rectagle-bg {
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: -2;
                overflow: hidden;

                @include media-breakpoint-up(xl) {
                    &::before {
                        content: "";
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        position: absolute;
                        width: 1565px;
                        height: 100%;
                        background-image: url(../img/rectagle-group.svg);
                        background-size: auto 100%;
                        background-repeat: no-repeat;
                        background-position-y: top;
                        background-position-x: right;
                    }
                }
            }
        }

        .container {
            height: 100%;
            justify-content: space-between;
            position: relative;

            @include media-breakpoint-down(lg) {
                padding-left: 0;
                padding-right: 0;
            }
        }

        .promo-block {
            @include media-breakpoint-down(lg) {
                flex: 0 1 65%;
            }

            .quality-b {
                font-size: 16px;
                line-height: 30px;
                color: $white;
                font-weight: 500;
                margin-top: 15px;

                p {
                    margin-bottom: 0;
                }

                a {
                    color: #1eb8ff;
                }
            }

            .inner {
                transform: rotate(3deg);
                overflow: hidden;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                display: flex;
                background-image: url(../img/group-4.png);

                @include media-breakpoint-down(lg) {
                    height: 235px;
                    max-width: 355px;
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 15px;
                    letter-spacing: -0.32px;
                }

                @include media-breakpoint-up(xl) {
                    position: absolute;
                    right: 76px;
                    bottom: -131px;
                    width: 530px;
                    height: 270px;
                    z-index: 4;
                    font-size: 24px;
                    padding: 1% 1.5% 1% 1.5%;
                }

                .confirm-block {
                    width: 80%;
                    margin-left: auto;

                    @include media-breakpoint-down(lg) {
                        padding-left: 10px;
                        padding-right: 10px;
                    }

                    h3 {
                        font-weight: bold;
                        color: #101929;
                        
                        @include media-breakpoint-up(xl) {
                            font-size: 38px;
                            margin-bottom: 16px;
                            line-height: 1.16;
                            letter-spacing: 0.79px;
                        }
    
                        @include media-breakpoint-down(lg) {
                            letter-spacing: -0.27px;
                            font-size: 20px;
                            margin-bottom: 10px;
                        }
                    }

                    p {
                        font-weight: 300;

                        @include media-breakpoint-up(xl) {
                            font-size: 25px;
                            margin-bottom: 13px;
                            letter-spacing: -0.6px;
                        }
    
                        @include media-breakpoint-down(lg) {
                            letter-spacing: -0.27px;
                            font-size: 16px;
                            margin-bottom: 10px;
                        }
                    }
                }

                .coupon {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 80%;
                    margin-left: auto;

                    @include media-breakpoint-down(lg) {
                        margin-top: 12%;
                    }
                }

                form {
                    width: 85%;
                    margin-bottom: 10px;
                }

                input.form-control {
                    border-radius: 28px;
                    border: solid 1px #3f3f3f;
                    font-weight: 300;
                    color: $black;
                    text-align: center;

                    @include media-breakpoint-up(xl) {
                        letter-spacing: -0.39px;
                        font-size: 18px;
                        height: 48px;
                        margin-bottom: 13px;
                    }

                    @include media-breakpoint-down(lg) {
                        letter-spacing: -0.3px;
                        font-size: 14px;
                        height: 34px;
                        margin-bottom: 5px;
                    }
                }

                button {
                    height: 48px;
                    border-radius: 32.5px;
                    color: $white;
                    font-weight: bold;
                    width: 100%;

                    @include media-breakpoint-up(xl) {
                        height: 48px;
                        font-size: 16px;
                        letter-spacing: 0.1px;
                    }

                    @include media-breakpoint-down(lg) {
                        letter-spacing: -0.3px;
                        font-size: 12px;
                        height: 34px;
                    }
                }

                .price {
                    font-weight: 300;
                    color: $black;
                    
                    b {
                        font-weight: 600;
                    }

                    @include media-breakpoint-up(xl) {
                        font-size: 25px;
                        margin-bottom: 13px;
                        letter-spacing: -0.6px;
                    }

                    @include media-breakpoint-down(lg) {
                        letter-spacing: -0.27px;
                        font-size: 16px;
                        margin-bottom: 10px;
                    }
                }

                .promo {
                    font-weight: 500;

                    @include media-breakpoint-up(xl) {
                        font-size: 26px;
                        margin-bottom: 0px;
                        margin-top: 15px;
                    }

                    @include media-breakpoint-down(lg) {
                        letter-spacing: -0.27px;
                        font-size: 16px;
                        margin-bottom: 0px;
                    }
                }

                .text-small {
                    font-weight: 300;
                    color: #2d2d2d;

                    @include media-breakpoint-up(xl) {
                        font-size: 18px;
                        letter-spacing: -0.39px;
                    }

                    @include media-breakpoint-down(lg) {
                        letter-spacing: -0.27px;
                        font-size: 14px;
                    }
                }
            }
        }

        .info-div {
            height: auto;
            margin-bottom: 20px;
            background-color: rgba(0, 0, 0, 0.5);
            text-align: center;
            padding: 0 15px;
            padding-bottom: 5px;
            font-size: 15px;
            letter-spacing: 0.06px;
            color: #ffffff;
            flex: 0 1 45%;

            a {
                color: #1eb8ff;
            }

            .info-block {
                &:not(:last-child) {
                    margin-right: 30px;
                }

                > div {
                    &:first-child {
                        font-weight: 500;
                        padding-bottom: 8px;
                        padding-top: 15px;
                        border-bottom: 1px solid #d6ff34;
                    }
                    &:last-child {
                        padding-top: 8px;
                        padding-bottom: 10px;
                        font-weight: 100;
                    }
                }
            }
        }

        .subtitle-div {
            flex: 0 1 55%;
            font-family: "MagistralC";

            @include media-breakpoint-down(lg) {
                flex: 0 1 35%;
            }

            > div {
                @include media-breakpoint-up(xl) {
                    width: 76%;
                }
            }

            h2 {
                font-weight: bold;
                color: $white;

                @include media-breakpoint-up(xl) {
                    margin-top: 40px;
                    font-size: 32px;
                    line-height: 1.25;
                    letter-spacing: 0.67px;
                }

                @include media-breakpoint-down(lg) {
                    margin-top: 30px;
                    font-size: 23px;
                    line-height: 1.25;
                    letter-spacing: 0.48px;
                }
            }

            p {
                color: $white;
                text-align: center;
                margin-bottom: 0;

                @include media-breakpoint-up(xl) {
                    margin-top: 25px;
                    font-size: 26px;
                    line-height: 1.31;
                    letter-spacing: 1.44px;
                }

                @include media-breakpoint-down(lg) {
                    margin-top: 25px;
                    font-size: 20px;
                    line-height: 1.31;
                    letter-spacing: 1.11px;
                }
            }
        }
    }

}
/* BANNER AREA END*/

/* SCHEME AREA START*/
.scheme-area {
    .container-fluid {
        overflow: hidden;
        background-color: #f5f5f5;

        @include media-breakpoint-up(lg) {
            padding-bottom: 80px;
        }

        @include media-breakpoint-down(md) {
            padding-bottom: 40px;
        }
    }

    .scheme {
        position: relative;
        text-align: center;

        > div:first-child {
            @include media-breakpoint-up(lg) {
                height: 549px;
                background-image: url(../img/akad-scheme.png);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }

            @include media-breakpoint-down(md) {
                height: 294px;
                background-image: url(../img/akad-sm-scheme.png);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }

            width: 100%;
        }

        .off {
            display: none;
        }

        .scheme-slides {
            max-width: 338px;
            margin-top: 40px;
            margin-left: auto;
            margin-right: auto;

            .slide {
                display: flex;
                justify-content: center;
                align-items: center;

                > div:first-child {
                    font-size: 30px;
                    line-height: 44px;
                    letter-spacing: 0.63px;
                    color: $primary;
                    font-weight: bold;
                    margin-right: 15px;
                }

                > div:last-child {
                    text-align: left;
                    max-width: 155px;
                    font-size: 20px;
                    line-height: 21px;
                    letter-spacing: -0.27px;
                }
            }

            .owl-stage {
                display: flex;
                align-items: center;
            }

            .owl-nav {
                position: absolute;
                width: 100%;
                top: 6%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                button.owl-prev {
                    background-image: url(../img/groupCopy4.png);
                }

                button.owl-next {
                    background-image: url(../img/groupCopy5.png);
                }


                button.owl-prev,  button.owl-next {
                    cursor: pointer;
                    background-position: center center;
                    background-repeat: no-repeat;
                    width: 52px;
                    height: 52px;
               }
            }
        }
    }

    h2 {
        margin-bottom: 0;

        @include media-breakpoint-up(lg) {
          padding-top: 80px;
          padding-bottom: 80px;
        }
  
        @include media-breakpoint-down(md) {
          padding-top: 40px;
          padding-bottom: 40px;
        }
    }
}
/* SCHEME AREA END*/



