/* CLUBS MODAL START*/
#clubs-modal {
  .modal-dialog-centered {
    @include media-breakpoint-up(lg) {
      min-height: calc(100% - 1%);
    }
  }

  .modal-dialog {
    @include media-breakpoint-down(sm) {
      height: 100%;
    }
  }

  .modal-content {
    border: none;

    @include media-breakpoint-up(lg) {
      background-image: url(../img/555-copy-7.png);
      background-position: -130% 0%;
      background-repeat: no-repeat;
    }

  }
  .modal-body {
    h3 {
      text-align: center;
      font-size: 26px;
      font-weight: bold;
      letter-spacing: 0.54px;
    }

    .club-link {
      color: $black;
      max-width: 328px;
      height: 100px;
      background-color: $white;
      margin: 0 auto;
      padding: 0 18px;
      text-decoration: none;
      border-radius: 3px;
      display: flex;
      align-items: center;

      img {
        margin-right: 24px;
      }

      h5 {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.18px;
      }

      p {
        font-size: 15px;
        font-weight: 300;
        line-height: 22px;
        letter-spacing: 0.15px;
        margin-bottom: 0;
      }
    }
  }
}
/* CLUBS MODAL END*/
