/* TOP HEADER START */
.h-top {
    @include media-breakpoint-up(lg) {
        .inner {
            height: 472px;

            &:before {
                @include media-breakpoint-up(xl) {
                    content: "";
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    position: absolute;
                    width: 1770px;
                    height: 472px;
                    background-image: url(../img/group-6-copy.svg);
                    background-size: auto 100%;
                    background-repeat: no-repeat;
                    background-position-y: top;
                    background-position-x: right;
                    z-index: 3;
                }
            }
        }
    }
}
/* TOP HEADER END */
