/* TOP HEADER START */
.h-top {
    @include media-breakpoint-up(xl) {
        .inner {
            height: 585px;
            &::before {
                content: "";
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                position: absolute;
                width: 1734px;
                height: 466px;
                background-image: url(../img/group-6-copy.svg);
                background-size: auto 100%;
                background-repeat: no-repeat;
                background-position-y: top;
                background-position-x: right;
                z-index: 2;
            }
        }
    }
}
/* TOP HEADER END */