/* GALLERY AREA START*/
.gallery-area {
  .gallery-container {
    background-color: #26272b;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      z-index: 2;

      @media screen and (min-width: 1600px) {
        top: -4.1%;
        left: 0;
        height: 706px;
        width: 272px;
        background: url(../img/group-12.svg);
        background-size: auto;
        background-repeat: no-repeat;
        background-position: left top;
      }

      @include media-breakpoint-down(sm) {
        height: 159px;
        width: 80px;
        background: url(../img/group10.png);
        background-size: auto;
        background-repeat: no-repeat;
        background-position: left top;
      }
    }

    &::after {
      content: "";
      position: absolute;
      z-index: 2;

      @media screen and (min-width: 1600px) {
        bottom: -0.2%;
        right: 0;
        height: 802px;
        width: 328px;
        background: url(../img/group-13.svg);
        background-size: auto;
        background-repeat: no-repeat;
        background-position: right bottom;
      }

      @include media-breakpoint-down(sm) {
        bottom: 0;
        right: 0;
        height: 149px;
        width: 74px;
        background: url(../img/group11.png);
        background-size: auto;
        background-repeat: no-repeat;
        background-position: right bottom;
      }

      @include media-breakpoint-down(xs) {
        bottom: 18%;
        right: 0;
        height: 149px;
        width: 74px;
        background: url(../img/group11.png);
        background-size: auto;
        background-repeat: no-repeat;
        background-position: right bottom;
      }
    }

    @media screen and (min-width: 1400px) {
      height: 880px;
    }
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 5;

    @media screen and (min-width: 1400px) {
      max-width: 1400px;
      height: 100%;
    }

    .desc {
      color: $white;
      margin-bottom: 0;
      font-weight: 300;
      text-align: center;
      margin-top: auto;

      @media screen and (min-width: 1400px) {
        margin-bottom: 35px;
        font-size: 18px;
      }

      @include media-breakpoint-down(lg) {
        font-size: 14px;
        line-height: 16px;
      }

      @include media-breakpoint-down(md) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .buttons {
    position: absolute;
    left: 50%;
    top: 48%;
    width: 58%;
    transform: translateX(-50%);
    justify-content: space-between;
    z-index: 20;

    @media screen and (min-width: 1400px) {
      display: flex;
    }

    @media screen and (max-width: 1400px) {
      display: none;
    }

    .prev-btn,
    .next-btn {
      cursor: pointer;
      background-position: center center;
      background-repeat: no-repeat;
      border: 0;

      @media screen and (min-width: 1400px) {
        width: 58px;
        height: 58px;
      }

      @media screen and (max-width: 1400px) {
        width: 40px;
        height: 40px;
      }
    }

    @media screen and (min-width: 1400px) {
      .prev-btn {
        background-image: url(../img/prev.svg);
      }

      .next-btn {
        background-image: url(../img/next.svg);
      }
    }

    @media screen and (max-width: 1400px) {
      .prev-btn {
        background-image: url(../img/groupCopy4.png);
      }

      .next-btn {
        background-image: url(../img/groupCopy5.png);
      }
    }
  }

  .gallery-carousel {
    @media screen and (max-width: 1400px) {
      width: 90%;
      margin-left: auto;
      margin-right: auto;

      .owl-nav {
        position: absolute;
        text-align: center;
        left: -2%;
        width: 105%;
        display: flex;
        justify-content: space-between;

        @include media-breakpoint-up(lg) {
          top: 50%;
        }

        @include media-breakpoint-down(md) {
          top: 45%;
        }

        @include media-breakpoint-down(sm) {
          top: 40%;
        }

        button.owl-prev,
        button.owl-next {
          cursor: pointer;
          background-position: center center;
          background-repeat: no-repeat;
          width: 40px;
          height: 40px;
        }

        button.owl-prev {
          background-image: url(../img/groupCopy4.png);
        }

        button.owl-next {
          background-image: url(../img/groupCopy5.png);
        }
      }
    }

    @media screen and (min-width: 1400px) {
      position: relative;
      width: 100%;

      div {
        position: absolute;
        transition: top 0.4s ease-in-out, left 0.4s ease-in-out, z-index 0.4s ease-in-out, width 0.4s ease-in-out;
        opacity: 1;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.88);
        top: 0;
        left: 0;

        img {
          width: 100%;
          height: 100%;
        }

        &.prev,
        &.prevSecond,
        &.next,
        &.nextSecond {
          &::before {
            content: "";
            position: absolute;
            left: 0%;
            top: 0%;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 6;
            opacity: 1;
            transition: opacity 0.3s linear;
          }
        }

        &.selected {
          transform: translate3D(0, 0, 0);

          &::before {
            content: "";
            position: absolute;
            left: 0%;
            top: 0%;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 6;
            opacity: 0;
            transition: opacity 0.3s ease-out;
          }
        }

        &.prev,
        &.next {
          z-index: 5;
        }

        &.prevSecond,
        &.nextSecond {
          z-index: 4;
        }

        &.selected {
          z-index: 10;
        }

        &.hideLeft,
        &.hideRight {
          opacity: 0;
          z-index: -1;
          user-select: none;
        }
      }
    }

    @media screen and (min-width: 992px) and (max-width: 1400px) {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  h2 {
    text-align: center;
    color: $white;
    margin-bottom: 0;

    @include media-breakpoint-up(lg) {
      padding-top: 80px;
      padding-bottom: 70px;
    }

    @include media-breakpoint-down(md) {
      padding-top: 40px;
      padding-bottom: 35px;
    }
  }
}
/* GALLERY AREA END*/
