/* CONTACT BOSS MODAL START*/
#contact-boss-modal {
    .modal-dialog-centered {
      @include media-breakpoint-up(lg) {
        min-height: calc(100% - 1%);
      }
    }
  
    .modal-dialog {
      @include media-breakpoint-down(sm) {
        height: 100%;
      }
      
      max-width: 900px;
    }
  
    .modal-content {
      border: none;
      background-color: $white;
      background-image: url(../img/555-copy-7.png);
      background-position: left top;
      background-repeat: no-repeat;
      min-height: 656px;
  
      @include media-breakpoint-down(sm) {
        height: 100%;
      }
  
    }
  
    .modal-responsive {
        max-width: 680px;
    }

    .form-row >.col, .form-row>[class*=col-] {
      padding-right: 3px;
      padding-left: 3px;
    }
  
    .promo-form {
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
      
      .custom-input-group {
        margin-bottom: 25px;
      }
  
      h3 {
        font-size: 26px;
        font-weight: bold;
        letter-spacing: 0.54px;
      }
      
      p {
        font-size: 16px;
        font-weight: 300;
        text-align: center;
      }
    }
    
  }
  /* CONTACT BOSS END*/