@font-face {
    font-family: "PFDinCondensedRegular";
    src: url("../fonts/PFDinCondensedRegular.eot");
    src: url("../fonts/PFDinCondensedRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PFDinCondensedRegular.woff") format("woff"),
    url("../fonts/PFDinCondensedRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PFDinCondensedMedium";
    src: url("../fonts/PFDinCondensedMedium.eot");
    src: url("../fonts/PFDinCondensedMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PFDinCondensedMedium.woff") format("woff"),
    url("../fonts/PFDinCondensedMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}