@import "variables";
@import "avenir-next-cyr";
@import "magistral-c";

@import "../../../node_modules/bootstrap/scss/_functions";
@import "../../../node_modules/bootstrap/scss/_variables";
@import "../../../node_modules/bootstrap/scss/_mixins";
@import "../../../node_modules/bootstrap/scss/_root";
@import "../../../node_modules/bootstrap/scss/_reboot";
@import "../../../node_modules/bootstrap/scss/_type";
@import "../../../node_modules/bootstrap/scss/_images";
@import "../../../node_modules/bootstrap/scss/_code";
@import "../../../node_modules/bootstrap/scss/_grid";
@import "../../../node_modules/bootstrap/scss/_tables";
@import "../../../node_modules/bootstrap/scss/_forms";
@import "../../../node_modules/bootstrap/scss/_buttons";
@import "../../../node_modules/bootstrap/scss/_transitions";
@import "../../../node_modules/bootstrap/scss/_dropdown";
@import "../../../node_modules/bootstrap/scss/_button-group";
@import "../../../node_modules/bootstrap/scss/_input-group";
@import "../../../node_modules/bootstrap/scss/_custom-forms";
@import "../../../node_modules/bootstrap/scss/_nav";
@import "../../../node_modules/bootstrap/scss/_navbar";
@import "../../../node_modules/bootstrap/scss/_card";
@import "../../../node_modules/bootstrap/scss/_breadcrumb";
@import "../../../node_modules/bootstrap/scss/_pagination";
@import "../../../node_modules/bootstrap/scss/_badge";
@import "../../../node_modules/bootstrap/scss/_jumbotron";
@import "../../../node_modules/bootstrap/scss/_alert";
@import "../../../node_modules/bootstrap/scss/_progress";
@import "../../../node_modules/bootstrap/scss/_media";
@import "../../../node_modules/bootstrap/scss/_list-group";
@import "../../../node_modules/bootstrap/scss/_close";
@import "../../../node_modules/bootstrap/scss/_toasts";
@import "../../../node_modules/bootstrap/scss/_modal";
@import "../../../node_modules/bootstrap/scss/_tooltip";
@import "../../../node_modules/bootstrap/scss/_popover";
@import "../../../node_modules/bootstrap/scss/_carousel";
@import "../../../node_modules/bootstrap/scss/_spinners";
@import "../../../node_modules/bootstrap/scss/_utilities";
@import "../../../node_modules/bootstrap/scss/_print";
@import "../../../node_modules/owl.carousel/src/scss/owl.carousel.scss";

body,
html {
	height: 100%;
}

body {
  font-family: Helvetica;
  font-style: normal;
  line-height: normal;
}

header {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

/* TOP HEADER START */
.h-top {
  height: 124px;

  .container {
    position: relative;
  }

  .b-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .b-right {
    text-align: right;
    position: absolute;
    right: 0%;
    top: 50%;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    font-size: 12px;
    font-weight: bold;
    a {
      display: block;
      font-size: 24px;
      font-family: "Avenir Next Cyr";
      font-weight: bold;
    }

    hr {
      margin: 8px 0;
      background-color: #101929;
    }
  }

  .logo {
    font-size: 50px;
    font-family: "MagistralC";
  }
}
/* TOP HEADER END */

/* NAVBAR START */
@include media-breakpoint-down(md) { 
  .navbar {
    padding: 0;
    display: block;
  }
}

nav {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;

  @include media-breakpoint-up(lg) { 
    background-color: $dark;
    .navbar-nav {
      max-width: 1140px;
      .nav-link {
        color: $white;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 2.17px;
        padding-top: 25px;
        padding-bottom: 25px;

        @include hover-focus {
          color: $navbar-dark-hover-color;
        }
  
        &.disabled {
          color: $navbar-dark-disabled-color;
        }
      }
  
      .show > .nav-link,
      .active > .nav-link,
      .nav-link.show,
      .nav-link.active {
        color: $navbar-dark-active-color;
      }
    }
  
    .navbar-toggler {
      color: $navbar-dark-color;
      border-color: $navbar-dark-toggler-border-color;
    }
  
    .navbar-toggler-icon {
      background-image: $navbar-dark-toggler-icon-bg;
    }
  
    .navbar-text {
      color: $navbar-dark-color;
      a {
        color: $navbar-dark-active-color;

        @include hover-focus {
          color: $navbar-dark-active-color;
        }
      }
    }
  }

  @include media-breakpoint-down(md) { 
    background: $white;

    .dropdown-toggle::after {
      float: right;
      margin-left: none;
      vertical-align: none;
      color: $primary;
    }

    .dropdown-menu {
      border: none;
      border-radius: 0;
      background-color: #F0F0F0;

      .dropdown-item {
        font-family: "Avenir Next Cyr";
        font-weight: lighter;
        color: #656565;
        letter-spacing: 0.05px;
        padding-bottom: 15px;
        padding-left: 50px;

        &:hover {
          background-color: #F0F0F0;
        }

        &:first-child {
          padding-top: 15px;
        }
      }
    }
    .nav-item {
      padding-bottom: 15px;

      &:first-child{
        padding-top: 15px;
      }   

      &:last-child{
        padding-bottom: 25px;
      }   
    }
    .navbar-logo {
      font-family: "MagistralC";
      font-size: 26px;
      color: #000000;
      &:hover {
        text-decoration: none;
        color: #000000;
      }
    }

    .n-top {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: 15px;
    }

    .n-bottom {
      background-color: #272B31;
      text-align: center;

      .btn-link {
        color: $white;
        font-family: "Avenir Next Cyr";
        font-weight: lighter;

        &:hover, &:focus {
          text-decoration: none;
        }

        &::after {
          line-height: 14px;
          color: $primary;
          display: inline-block;
          margin-left: 8px;
          content: "";
          border-top: $caret-width solid;
          border-right: $caret-width solid transparent;
          border-bottom: 0;
          border-left: $caret-width solid transparent;
        }
      }
    }

    .navbar {
      padding: 0;
    }

    .navbar-nav {
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      box-shadow: 0 8px 6px -6px black;

      .nav-link {
        color: $black;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 2.17px;
        padding-left: 15px;
        padding-right: 15px;
        display: block;
        width: 100%;
        text-align: left;

        @include hover-focus {
          color: $navbar-light-hover-color;
        }
  
        &.disabled {
          color: $navbar-light-disabled-color;
        }
      }
  
      .show > .nav-link,
      .active > .nav-link,
      .nav-link.show,
      .nav-link.active {
        color: $navbar-light-active-color;
      }
    }
  
    .navbar-toggler {
      color: $navbar-light-color;
      border: none;
      padding-left: 0;
      padding-right: 0;
      font-weight: bold;
    }
  
    .navbar-toggler-icon {
      background-image: $navbar-light-toggler-icon-bg;
      width: 24px;
      height: 22px;
    }
  
    .navbar-text {
      color: $navbar-light-color;
      a {
        color: $navbar-light-active-color;

        @include hover-focus {
          color: $navbar-light-active-color;
        }
      }
    }
  }

}
/* NAVBAR END */

/* CLUBS MODAL START*/
#clubs-modal {
  .modal-body {
    h4 {
      font-family: "Avenir Next Cyr";
      font-size: 20px;
      font-weight: 600;
      letter-spacing: -0.08px;
      text-align: center;
      padding-top: 30px;
    }
  }
}
/* CLUBS MODAL END*/