@import "variables";
@import "avenir-next-cyr";
@import "magistral-c";

@import "../../../node_modules/bootstrap/scss/_functions";
@import "../../../node_modules/bootstrap/scss/_variables";
@import "../../../node_modules/bootstrap/scss/_mixins";
@import "../../../node_modules/bootstrap/scss/_root";
@import "../../../node_modules/bootstrap/scss/_reboot";
@import "../../../node_modules/bootstrap/scss/_type";
@import "../../../node_modules/bootstrap/scss/_images";
@import "../../../node_modules/bootstrap/scss/_code";
@import "../../../node_modules/bootstrap/scss/_grid";
@import "../../../node_modules/bootstrap/scss/_tables";
@import "../../../node_modules/bootstrap/scss/_forms";
@import "../../../node_modules/bootstrap/scss/_buttons";
@import "../../../node_modules/bootstrap/scss/_transitions";
@import "../../../node_modules/bootstrap/scss/_dropdown";
@import "../../../node_modules/bootstrap/scss/_button-group";
@import "../../../node_modules/bootstrap/scss/_input-group";
@import "../../../node_modules/bootstrap/scss/_custom-forms";
@import "../../../node_modules/bootstrap/scss/_nav";
@import "../../../node_modules/bootstrap/scss/_navbar";
@import "../../../node_modules/bootstrap/scss/_card";
@import "../../../node_modules/bootstrap/scss/_breadcrumb";
@import "../../../node_modules/bootstrap/scss/_pagination";
@import "../../../node_modules/bootstrap/scss/_badge";
@import "../../../node_modules/bootstrap/scss/_jumbotron";
@import "../../../node_modules/bootstrap/scss/_alert";
@import "../../../node_modules/bootstrap/scss/_progress";
@import "../../../node_modules/bootstrap/scss/_media";
@import "../../../node_modules/bootstrap/scss/_list-group";
@import "../../../node_modules/bootstrap/scss/_close";
@import "../../../node_modules/bootstrap/scss/_toasts";
@import "../../../node_modules/bootstrap/scss/_modal";
@import "../../../node_modules/bootstrap/scss/_tooltip";
@import "../../../node_modules/bootstrap/scss/_popover";
@import "../../../node_modules/bootstrap/scss/_carousel";
@import "../../../node_modules/bootstrap/scss/_spinners";
@import "../../../node_modules/bootstrap/scss/_utilities";
@import "../../../node_modules/bootstrap/scss/_print";
@import "../../../node_modules/owl.carousel/src/scss/owl.carousel.scss";

@import "global";
@import "header";
@import "navigation";
@import "clubs-modal";
@import "promo-modal";
@import "alert-modal";
@import "footer";
@import "workouts";

/* NAVBAR START */
nav {
  @include media-breakpoint-down(md) {
    .n-bottom {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 18%;
        height: 59px;
        width: 72px;
        background: url(../img/hexagone.svg);
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center center;
        z-index: 2;
      }
    }
  }
}
/* NAVBAR END */

/* BANNER AREA START*/
.banner-area {
  .container-fluid {
    position: relative;

    @media only screen and (min-width: 1750px) {
      &::before {
        content: "";
        position: absolute;
        right: 9px;
        top: -193px;
        height: 248px;
        width: 254px;
        background: url(../img/group-3-copy-7.svg);
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center center;
        z-index: 2;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: -142px;
        height: 279px;
        width: 426px;
        background-image: url(../img/group-3-copy-8.svg);
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center center;
        z-index: 2;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .owl-dots {
      width: 100%;
      position: absolute;
      text-align: center;
      bottom: 10%;

      .owl-dot {
        margin: 0px 6px;
        width: 8px;
        height: 8px;
        background-color: rgba(14, 22, 37, 0.71);
        border-radius: 30px;
        box-shadow: 0 0 3px 0 rgba(255, 255, 255, 0.5);

        &.active {
          background: $primary;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .owl-nav {
      position: absolute;
      text-align: center;
      transform: translateX(-50%);
      left: 50%;
      bottom: 0;

      button.owl-prev,
      button.owl-next {
        width: 58px;
        height: 58px;
        cursor: pointer;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 12px 12px 24px 12px;
        box-shadow: 0 0 12px 0 rgba(255, 255, 255, 0.5);
        &:focus, &:active, &:hover {
          box-shadow: 0 0 12px 0 rgba(255, 255, 255, 0.5);
        }
      }

      button.owl-prev {
        background-image: url(../img/group-copy-7@1x.png);
      }

      button.owl-next {
        background-image: url(../img/group-copy-6@1x.png);
      }
    }
  }

  figure {
    width: 100%;
    margin-bottom: 0;

    @include media-breakpoint-up(lg) {
      height: 510px;
    }

    @include media-breakpoint-down(md) {
      height: 610px;
      p {
        margin: 0;
      }
    }

    .custom-btn {
      @include media-breakpoint-down(md) {
        padding-top: 15px;
        padding-bottom: 15px;
        border: 1px solid transparent;
        text-align: center;
        vertical-align: middle;
        line-height: 1.5;
        display: block;
        width: 232px;
        height: 56px;
        border-radius: 32.5px;
        background-color: $primary;
        color: $white;
        box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.5);
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 1.42px;
      }
    }

    &.bg-img-1 {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url(../img/3-copy@1x.png);
      position: relative;
      letter-spacing: 2.16px;
      font-family: Helvetica;

      h1 {
        font-weight: bold;
        letter-spacing: 2.16px;
        text-transform: uppercase;
        @include media-breakpoint-up(lg) {
          font-size: 48px;
        }

        @include media-breakpoint-down(md) {
          font-size: 32px;
        }
      }

      .btn {
        color: $white;
        text-transform: uppercase;
        font-size: 16px;

        @include media-breakpoint-up(lg) {
          margin-top: 50px;
        }

        @include media-breakpoint-down(md) {
          margin-top: 30px;
          margin-bottom: 100px;
        }
      }

      .bg-shadow {
        background-image: url(../img/rectangle-copy-12.png);
        background-repeat: no-repeat;
        background-position-y: 25%;
        background-position-x: 100%;
  
        @include media-breakpoint-down(md) {
          background-image: url(../img/shadow.svg);
          background-repeat: no-repeat;
          background-position-y: 68%;
          background-position-x: 50%;
        }
      }

      .card-img {
        display: block;
        position: relative;
        animation: floating 6s infinite ease-in-out;
  
        @include media-breakpoint-up(lg) {
          max-width: 520px;
          width: 100%;
        }
  
        @include media-breakpoint-down(md) {
          max-width: 390px;
          width: 100%;
        }
      }

      @keyframes floating {
        0% {
          transform: rotate(0deg);
        }
        5% {
          transform: rotate(2deg);
        }
        10% {
          transform: rotate(0deg);
        }
        55% {
          transform: translate(0px, 10px);
        }
        100% {
          transform: translate(0, -0px);
        }
      }
  
      @media only screen and (min-width: 1750px) {
        &::before {
          content: "";
          position: absolute;
          right: 0;
          bottom: -1px;
          height: 510px;
          width: 420px;
          background: url(../img/rectangle-copy-15.svg);
          background-repeat: no-repeat;
          background-size: auto 100%;
          background-position: center center;
          z-index: 2;
        }
  
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          height: 510px;
          width: 427px;
          background: url(../img/rectangle-copy-14.svg);
          background-repeat: no-repeat;
          background-size: auto 100%;
          background-position: center center;
          z-index: 2;
        }
      }
    }

    &.bg-img-2 {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url(../img/222@2x.png);
      display: flex;
      justify-content: center;

      .inner-block {
        position: relative;
        z-index: 6;
        display: flex;
        flex-direction: column;

        h3, p {
          text-align: center;
        }

        @include media-breakpoint-up(lg) {
          width: 802px;
          height: 437px;
          padding: 55px 54px 54px 89px;
          margin-top: 10px;
        }
    
        @include media-breakpoint-down(md) {
          width: 100%;
          height: 100%;
          overflow: hidden;
        }

        p {
          font-weight: 300;

          @include media-breakpoint-up(lg) {
            font-size: 28px;
          }
      
          @include media-breakpoint-down(md) {
            font-size: 22px;
            line-height: 39px;
          }
        }

        h3 {
          font-weight: 600;
          line-height: 1.45;

          @include media-breakpoint-up(lg) {
            font-size: 40px;
          }
      
          @include media-breakpoint-down(md) {
            font-size: 26px;
            margin-bottom: 0;
          }
        }

        .custom-btn {
          @include media-breakpoint-up(lg) {
            background-color: $black;
            color: $primary;
            margin-top: 0.5rem;
            width: 248px;
            padding-top: 15px;
            padding-bottom: 15px;
            border: 1px solid transparent;
            text-align: center;
            vertical-align: middle;
            line-height: 1.5;
          }
      
          @include media-breakpoint-down(md) {
            margin-top: 55px;
            margin-bottom: 100px;
          }
        }

        &::before {
          content: "";
          position: absolute;
          background-size: contain;
          background-position: center center;
          background-repeat: no-repeat;
          background-image: url(../img/group-copy-13.svg);
          z-index: -1;

          @include media-breakpoint-up(lg) {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
          }
      
          @include media-breakpoint-down(md) {
            width: 400px;
            height: 215px;
            left: 50%;
            transform: translateX(-50%);
            bottom: 176px;
          }
        }

        &::after {
          content: "";
          position: absolute;
          background: url(../img/girl-banner.png);
          background-repeat: no-repeat;
          background-size: auto 100%;
          background-position: center center;


          @include media-breakpoint-up(lg) {
            z-index: 6;
            left: -88px;
            top: -5px;
            width: 244px;
            height: 506px;
          }
      
          @include media-breakpoint-down(md) {
            z-index: -2;
            left: 50%;
            transform: translateX(-50%);
            bottom: -6px;
            width: 273px;
            height: 567px;
          }
        }
      }
    }
  
    &.bg-man-img {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      position: relative;
      background-image: url(../img/man-bg.jpg);
      display: flex;
      
      @include media-breakpoint-up(lg) {
        align-items: center;
      }
  
      @include media-breakpoint-down(md) {
        align-items: flex-end;
      }

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          z-index: 1;

          @include media-breakpoint-up(lg) {
            height: 335px;
            top: 80px;
            left: 0;
            background-size: 100% 100%;
            background-position: center center;
            background-repeat: no-repeat;
          }
      
          @include media-breakpoint-down(md) {
            height: 345px;
            top: 105px;
            left: 0;
            background-position: center center;
            background-repeat: repeat-x;
          }
        }


      .inner-block {
        display: flex;
        z-index: 5;
        position: relative;

        @include media-breakpoint-up(lg) {
          height: 178px;
          align-items: center;
          justify-content: center;
        }
    
        @include media-breakpoint-down(md) {
          width: 310px;
          flex-direction: column;
          align-items: center;
          text-align: center;
          padding: 0;
          margin-bottom: 100px;
        }

        .flex-block {
          @include media-breakpoint-up(lg) {
            display: flex;
            flex-direction: column;
            flex: 1 1 50%;
            height: 100%;
            position: relative;

            &.left-side {
              border-right: 5px solid $black;
              padding-right: 60px;
            }
            &.right-side {
              padding-left: 60px;
            }
          }
        }

        h3 {
          font-weight: 300;

          @include media-breakpoint-up(lg) {
            font-size: 40px;
            line-height: 1.18;
            margin-bottom: 8px;
          }
      
          @include media-breakpoint-down(md) {
            font-size: 26px;
            line-height: 1.42;
          }
        }

        h2 {
          font-weight: bold;
          margin-bottom: 0;

          @include media-breakpoint-up(lg) {
            text-align: right;
            font-size: 40px;
            line-height: 1.2;
          }
      
          @include media-breakpoint-down(md) {
            font-size: 26px;
            line-height: 1.54;
            margin-bottom: 10px;
          }
        }

        p {
          font-weight: 300;
          
          @include media-breakpoint-up(lg) {
            font-size: 28px;
            line-height: 1.61;
          }
      
          @include media-breakpoint-down(md) {
            font-size: 26px;
            line-height: 1.73;
          }
        }

        .custom-btn {
          @include media-breakpoint-up(lg) {
            position: absolute;
            display: block;
            bottom: 0;
            right: 12px;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1.31px;
            width: 99px;
            height: 14px;
            z-index: 10;
            color: $black;
          }

          @include media-breakpoint-down(md) {
            margin-left: auto;
            margin-right: auto;
            margin-top: 60px;

            &:hover, &:focus {
              text-decoration: none;
            }
          }
        }
      }
    }

    &.bg-img-3 {
      &::before {
        @include media-breakpoint-up(lg) {
          background-image: url(../img/green-bg.png);
        }
    
        @include media-breakpoint-down(md) {
          background-image: url(../img/green-bg-small.png);
        }
      }
    }
  
    &.bg-img-4 {
      &::before {
        @include media-breakpoint-up(lg) {
          background-image: url(../img/yellow-bg.png);
        }
    
        @include media-breakpoint-down(md) {
          background-image: url(../img/yellow-bg-small.png);
        }
      }

      .text-grey {
        @include media-breakpoint-up(lg) {
          color: #6f6f6f;
        }
    
        @include media-breakpoint-down(md) {
          color: $black;
        }
        
      }
    }
  
    &.bg-img-5 {
      overflow: hidden;
      
      @include media-breakpoint-up(lg) {
        position: relative;
        background-color: $black;

        &::before {
          content: "";
          position: absolute;
          height: 100%;
          width: 50%;
          top: 0;
          left: 50%;
          z-index: 1;
          background-size: cover;
          background-position: 40% top;
          background-repeat: no-repeat;
          background-image: url(../img/img5.jpg);
        }

        &::after {
          content: "";
          position: absolute;
          height: 100%;
          width: 50%;
          top: 0;
          left: 2%;
          z-index: 2;
          background-size: auto 100%;
          background-position: right center;
          background-repeat: no-repeat;
          background-image: url(../img/copy-2.png);
        }
      }

      @include media-breakpoint-down(md) {
        background-size: cover;
        background-position: 30% top;
        background-repeat: no-repeat;
        background-image: url(../img/img5.jpg);

        &::before {
          content: "";
          position: absolute;
          height: 225px;
          width: 100%;
          top: 37%;
          left: 0;
          z-index: 1;
          background-size: auto 100%;
          background-position: center center;
          background-repeat: repeat-x;
          background-image: url(../img/green-bg-small.png);
        }
      }

      .container-fluid {
        position: relative;
        z-index: 4;

        &::before {
          @include media-breakpoint-up(lg) {
          content: "";
          position: absolute;
          height: 240px;
          width: 1069px;
          top: 20%;
          right: 44%;
          background-size: cover;
          background-position: 40% top;
          background-repeat: no-repeat;
          background-image: url(../img/green-5.png);
          }
        }

        .right-block {
          position: absolute;
          width: 534px;
          height: 90px;
          
          background-position: center center;
          background-repeat: no-repeat;
          background-image: url(../img/green-right-5.png);
          right: 0;
          bottom: 8%;
          align-items: center;

          p {
            font-size: 20px;
            font-weight: 600;
            line-height: 2.8;
            letter-spacing: 0.62px;
            color: #000000;
            margin-left: 15%;
            margin-bottom: 0;
          }
        }
      }

      .text-lg-primary {
        @include media-breakpoint-up(lg) {
          color: $primary;
        }
      }

      .inner-block {
        position: relative;
        z-index: 5;
        @include media-breakpoint-down(md) {
          display: flex;
          align-items: flex-end;
        }
      }

      .flex-block {   
        display: flex;
        flex-direction: column;

        @include media-breakpoint-up(lg) {
          width: 45%;
          height: 100%;
          padding: 30px 0 60px 0;
          text-align: right;
        }
        
        @include media-breakpoint-down(md) {
          width: 100%;
          margin-bottom: 100px;
          text-align: center;
        }

        h2 {
          font-weight: bold;

          @include media-breakpoint-up(xl) {
            flex-grow: 1;
            font-size: 42px;
            line-height: 1.31;
          }

          @include media-breakpoint-up(lg) {
            flex-grow: 1;
            font-size: 38px;
            line-height: 1.31;
          }

          @include media-breakpoint-down(md) {
            font-size: 26px;
            line-height: 1.42;
          }
        }

        p.subtitle {
          font-weight: 300;

          @include media-breakpoint-up(lg) {
            flex-grow: 1;
            font-size: 32px;
            line-height: 1.25;
          }
          
          @include media-breakpoint-down(md) {
            font-size: 22px;
            line-height: 1.82;
          }
        }

        p.date-text {
          font-weight: 300;
          @include media-breakpoint-up(lg) {
            flex-grow: 1;
            font-size: 28px;
            color: $white;
          }
          
          @include media-breakpoint-down(md) {
            font-size: 26px;
            color: $black;
          }
        }

        a.custom-btn {
          @include media-breakpoint-up(lg) {
            text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
            font-size: 14px;
            letter-spacing: 1.31px;
            text-align: left;
            color: $white;
            margin-left: 43%;

            &:hover, &:focus {
              text-decoration: none;
            }
          }

          @include media-breakpoint-down(md) {
            margin-left: auto;
            margin-right: auto;
            margin-top: 40px;
          }
        }
      }
    }
  
    &.bg-img-6 {
      overflow: hidden;
      
      @include media-breakpoint-up(lg) {
        position: relative;
        background-color: #17191e;

        &::before {
          content: "";
          position: absolute;
          height: 100%;
          width: 768px;
          top: 0;
          left: 15%;
          z-index: 1;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          background-image: url(../img/img-6.png);
        }
      }

      @include media-breakpoint-down(md) {
        background-color: #17191e;

        &::before {
          content: "";
          position: absolute;
          height: 300px;
          width: 355px;
          top: 13%;
          left: 50%;
          transform: translateX(-40%);
          z-index: 1;
          background-size: 100%;
          background-position: center center;
          background-repeat: no-repeat;
          background-image: url(../img/img-6.png);
        }
      }

      .inner-block {   
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 5;

        @include media-breakpoint-up(lg) {
          padding: 60px 0 135px 0;
        }
        
        @include media-breakpoint-down(md) {
          width: 100%;
          height: 100%;
          text-align: center;
        }

        h4 {
          font-weight: 300;

          @include media-breakpoint-up(lg) {
            font-size: 24px;
            line-height: 2.29;
            letter-spacing: 20px;
          }
          @include media-breakpoint-down(md) {
            font-size: 20px;
            font-weight: 300;
            line-height: 2.75;
            letter-spacing: 8.33px;
            margin-top: 20px;
            margin-bottom: 0;
          }
        }

        h2 {
          font-weight: bold;

          @include media-breakpoint-up(lg) {
            flex-grow: 1;
            font-size: 42px;
            line-height: 1.31;
          }
          
          @include media-breakpoint-down(md) {
            font-size: 26px;
            line-height: 1.42;
            margin-top: auto;
            margin-bottom: 40px;
          }
        }

        p.date-text {
          font-weight: 300;
          @include media-breakpoint-up(lg) {
            flex-grow: 1;
            font-size: 28px;
          }
          
          @include media-breakpoint-down(md) {
            font-size: 26px;
          }
        }

        a.custom-btn {
          @include media-breakpoint-up(lg) {
            padding-top: 15px;
            padding-bottom: 15px;
            border: 1px solid transparent;
            text-align: center;
            vertical-align: middle;
            line-height: 1.5;
            display: block;
            width: 232px;
            height: 56px;
            border-radius: 32.5px;
            background-color: $primary;
            color: $black;
            box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.5);
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 1.42px;
          }

          @include media-breakpoint-down(md) {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 100px;
          }
        }
      }
    }
  }


}
/* BANNER AREA END*/

/* FEATURES AREA START*/
.features-area {
  .features {
    @include media-breakpoint-up(lg) {
      margin-bottom: 70px;
    }

    @include media-breakpoint-down(lg) {
      margin-bottom: 16px;
      max-width: 389px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  h2.title {
    margin-bottom: 0;
    text-align: center;

    @include media-breakpoint-up(lg) {
      padding-top: 80px;
      padding-bottom: 70px;
    }

    @include media-breakpoint-down(lg) {
      padding-top: 40px;
      padding-bottom: 35px;
    }
  }

  @include media-breakpoint-down(lg) {
    .owl-nav {
      position: absolute;
      top: 41%;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: space-between;

      button.owl-prev,
      button.owl-next {
        width: 40px;
        height: 40px;
        cursor: pointer;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
      }

      .owl-prev > span,
      .owl-next > span {
        content: "";
      }

      button.owl-prev {
        background-image: url(../img/group3.png);
      }

      button.owl-next {
        background-image: url(../img/group3Copy.png);
      }
    }
  }

  .feature {
    height: 257px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @include media-breakpoint-up(lg) {
      max-width: 389px;
    }

    .inner {
      height: 87.2%;
      width: 88.7%;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: #f3f3f3;
      border-radius: 0 20px 0 20px;

      .number {
        display: block;
        perspective: 1200;
        perspective-origin: 50% 50%;
        transform-style: preserve-3d;

        > div {
          display: block;
          transform: rotate3d(0, 1, 0, 360deg);
        }
      }
      .number-2 {
        padding-right: 12px;
      }

      .number-3 {
        padding-right: 10px;
      }

      @include media-breakpoint-up(lg) {
        .number-1 {
          > div {
            animation-name: numberRotation;
            animation-duration: 7s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
          }
        }

        .number-2 {
          > div {
            animation-name: numberRotation;
            animation-duration: 7s;
            animation-delay: 8s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
          }
        }

        .number-3 {
          > div {
            animation-name: numberRotation;
            animation-duration: 7s;
            animation-delay: 16s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
          }
        }
      }

      @keyframes numberRotation {
        0% {
          transform: rotate3d(0, 1, 0, 0deg);
        }
        10% {
          transform: rotate3d(0, 1, 0, 180deg);
        }
        20% {
          transform: rotate3d(0, 1, 0, 360deg);
        }
        100% {
          transform: rotate3d(0, 1, 0, 360deg);
        }
      }

      &::before {
        content: "";
        position: absolute;
        left: -7%;
        top: -8%;
        height: 125px;
        width: 112px;
        background: url(../img/angle1.svg);
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center center;
        z-index: 2;
      }

      &::after {
        content: "";
        position: absolute;
        right: -6%;
        bottom: -8%;
        height: 107px;
        width: 91px;
        background: url(../img/angle2.svg);
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center center;
        z-index: 2;
      }
    }

    .number {
      font-size: 100px;
      color: #373737;
      text-align: center;
      font-weight: 600;
    }

    .desc {
      font-size: 20px;
      font-weight: 600;
      color: #373737;
      line-height: 25px;
      width: 165px;
    }
  }
}
/* FEATURES AREA END*/

/* SIGNUP AREA START */
.signup-area {
  .container {
    position: relative;
    z-index: 10;
    
    @include media-breakpoint-up(lg) {
      padding-right: 25px;
      &::before {
        content: "";
        position: absolute;
        left: -33%;
        top: -53%;
        height: 640px;
        width: 354px;
        background: url(../img/group.svg);
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: top right;
        z-index: 2;
      }
    }
  }

  @include media-breakpoint-down(md) {
    .col-md-12 {
      padding-left: 0;
      padding-right: 0;
    }

    .signup-block {
      margin-top: 35px;
      margin-bottom: 50px;

      h2 {
        text-align: center;
      }

      .subtitle {
        text-align: center;
        font-size: 20px;
        font-weight: 300;
        line-height: 31px;
        letter-spacing: -0.43px;
      }

      .note {
        font-size: 14px;
        font-weight: 300;
        letter-spacing: -0.3px;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .signup-block {
      margin-top: 110px;
      margin-bottom: 112px;

      .subtitle {
        font-size: 28px;
        font-weight: 300;
        line-height: 1.43;
        letter-spacing: -0.6px;
      }

      .note {
        font-size: 18px;
        font-weight: 300;
        letter-spacing: -0.39px;
      }
    }
  }

  .carousel-container {
    width: 80%;
    position: relative;

    @include media-breakpoint-up(lg) {
      margin-left: auto;
    }

    @include media-breakpoint-down(md) {
      margin-left: auto;
      margin-right: auto;
    }

    &::before {
      content: "";
      background-color: #aacc23;
      position: absolute;
      width: 99%;
      height: 94%;
      left: -5%;
      top: 8%;
      z-index: -1;
    }
  }

  .signup-slides {
    .slide {
      .inner {
        position: relative;
        img {
          z-index: 9999;
        }
      }
    }

    .owl-nav {
      position: absolute;
      width: 110%;
      left: -5%;
      top: 40%;
      display: flex;
      justify-content: space-between;

      @include media-breakpoint-up(md) {
        button.owl-prev {
          background-image: url(../img/group-copy-4.png);
        }

        button.owl-next {
          background-image: url(../img/group-copy-2.png);
        }
      }

      @include media-breakpoint-down(sm) {
        button.owl-prev {
          background-image: url(../img/groupCopy4.png);
        }

        button.owl-next {
          background-image: url(../img/groupCopy5.png);
        }
      }

      button.owl-prev,
      button.owl-next {
        cursor: pointer;
        background-position: center center;
        background-repeat: no-repeat;

        @include media-breakpoint-up(md) {
          width: 70px;
          height: 70px;
        }

        @include media-breakpoint-down(sm) {
          width: 52px;
          height: 52px;
        }
      }
    }
  }
}

.signup-form {
  height: 100%;
  max-width: 340px;
  font-size: 16px;
  font-weight: 300;

  @include media-breakpoint-down(md) {
    margin-left: auto;
    margin-right: auto;
  }

  .subtitle {
    font-weight: 300;
    line-height: 1.43;

    @include media-breakpoint-up(lg) {
      font-size: 28px;
      letter-spacing: -0.6px;
    }

    @include media-breakpoint-down(md) {
      font-size: 26px;
      letter-spacing: -0.56px;
    }
  }

  .form-row > .col,
  .form-row > [class*="col-"] {
    padding-right: 3px;
    padding-left: 3px;
  }
}
/* SIGNUP AREA END */

/* PROMO AREA START */
.promo-area {
  .promo-container {
    background-color: #e9f0f2;

    @include media-breakpoint-up(lg) {
      background-image: url(../img/bitmap.png);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      height: 572px;
    }

    @include media-breakpoint-down(md) {
      padding-top: 35px;
      padding-bottom: 25px;
      margin-bottom: 32px;
    }
  }

  .promo-block {
    @include media-breakpoint-up(lg) {
      max-width: 528px;
      margin-left: auto;
      margin-top: auto;
      margin-bottom: auto;
    }

    @include media-breakpoint-down(md) {
      position: relative;
    }

    > div {
      @include media-breakpoint-up(lg) {
        flex-direction: row;
      }

      @include media-breakpoint-down(md) {
        flex-direction: column;
      }
    }

    .schedule-link {

      @include media-breakpoint-down(md) {
        width: 100%;
        margin: 25px 0;
        font-size: 16px;
        letter-spacing: 0.32px;
      }

      > a {
        text-align: center;
        display: block;
        text-transform: uppercase;
        letter-spacing: 0.49px;
        color: $black;
        padding: 5px 15px;
        width: 100%;
        border-radius: 25px;
        font-weight: bold;
        margin-top: 24px;

        @include media-breakpoint-up(lg) {
          border: 1px solid transparent;
        }

        @include media-breakpoint-down(md) {
          border: 1px solid $black;
          padding: 15px 0;
          margin: 0 auto;
          max-width: 312px;
        }

        &:hover,
        &:focus {
          text-decoration: none;
          border: 1px solid $black;
          border-radius: 25px;
        }
      }
    }

    .time-block {
      display: flex;
      align-items: center;
      height: 48px;
      font-size: 16px;
      font-weight: 400;

      @include media-breakpoint-up(lg) {
        &:not(:first-child) {
          border-top: 1px solid $white;
        }
      }

      @include media-breakpoint-down(md) {
        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }

    .club-title {
      background-color: #d8d8d8;

      @include media-breakpoint-up(lg) {
        font-size: 18px;
      }

      @include media-breakpoint-down(md) {
        font-size: 20px;
      }
    }

    @include media-breakpoint-up(lg) {
      .right-border-lg {
        > div:not(:last-child) {
          border-right: 1px solid $white;
        }
      }
    }

    .bold {
      font-weight: 600;
    }

    .dark-yellow {
      background-color: #dddb64;
    }

    .bright-yellow {
      background-color: #fdeb1c;
    }

    .blue {
      background-color: #90cbe0;
    }

    .bright-green {
      background-color: #cefa56;
    }

    .dark-green {
      background-color: #aad577;
    }

    .green {
      background-color: #a8d523;
    }

    h2 {
      @include media-breakpoint-down(md) {
        text-align: center;
      }
    }

    p {
      font-weight: 300;

      @include media-breakpoint-up(lg) {
        font-size: 28px;
        letter-spacing: 0.58px;
        margin-bottom: 24px;
      }

      @include media-breakpoint-down(md) {
        font-size: 20px;
        letter-spacing: 0.42px;
        margin-bottom: 20px;
        text-align: center;
      }
    }
  }
}
/* PROMO AREA END */

/* TEAM AREA START */
.team-area {
  .team-container {
    height: 950px;
    background: linear-gradient(
      to bottom,
      rgba(254, 254, 255, 1) 0%,
      rgba(254, 254, 255, 1) 22%,
      rgba(181, 184, 191, 1) 45%,
      rgba(79, 86, 92, 1) 69%,
      rgba(60, 68, 74, 1) 78%,
      rgba(60, 68, 74, 1) 79%,
      rgba(100, 108, 123, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefeff', endColorstr='#646c7b', GradientType=0 );
  }

  h2 {
    text-align: center;

    @include media-breakpoint-up(lg) {
      margin-top: 80px;
      margin-bottom: 70px;
    }

    @include media-breakpoint-down(md) {
      margin-top: 40px;
      margin-bottom: 35px;
    }
  }

  .scrolling-wrapper {
    white-space: nowrap;

    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: $primary;
    }

    &::-webkit-scrollbar-track {
      border-radius: 4px;
      background-color: #282828;
    }

    @include media-breakpoint-down(md) {
      overflow-x: scroll;
    }

    .photo {
      margin-left: auto;
      margin-right: auto;
      width: 1202px;
      max-width: 1171px;
      height: 560px;
      position: relative;

      &:hover {
        img {
          filter: brightness(50%);
        }
      }

      .dasha-shadow {
        position: absolute;
        right: 107px;
        bottom: 12px;
        height: 91px;
        width: 158px;
        background: url(../img/dasha-shadow.png);
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center center;
        z-index: 1;
      }

      .alena-shadow {
        position: absolute;
        left: 18px;
        bottom: 14px;
        height: 106px;
        width: 118px;
        background: url(../img/alena-shadow.png);
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center center;
        z-index: 1;
      }

      img {
        position: absolute;
        cursor: pointer;
        transition: all 0.4s ease-in-out;

        &:hover {
          filter: brightness(100%);
          transform: scale(1.05);
        }

        &.img-1 {
          z-index: 10;
          bottom: 12px;
        }

        &.img-2 {
          z-index: 5;
          bottom: 28px;
          left: 45px;
        }

        &.img-3 {
          z-index: 10;
          bottom: 4px;
          left: 185px;
        }

        &.img-4 {
          z-index: 5;
          bottom: 23px;
          left: 273px;
        }

        &.img-5 {
          z-index: 10;
          bottom: 8px;
          left: 404px;
        }

        &.img-6 {
          z-index: 5;
          bottom: 20px;
          right: 417px;
        }

        &.img-7 {
          z-index: 10;
          bottom: 11px;
          right: 370px;
        }

        &.img-8 {
          z-index: 5;
          bottom: 20px;
          right: 203px;
        }

        &.img-9 {
          z-index: 10;
          bottom: 11px;
          right: 156px;
        }

        &.img-10 {
          z-index: 5;
          bottom: 20px;
          right: -24px;
        }
      }
    }
  }

  .caption-block {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;

    .caption {
      display: flex;
      align-items: center;

      @include media-breakpoint-down(md) {
        margin-bottom: 25px;
      }

      .link {
        font-weight: 500;
        letter-spacing: normal;
        color: #cbff06;
        text-decoration: underline;
        cursor: pointer;
      }

      .caption-text {
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;

        @include media-breakpoint-up(md) {
          font-size: 22px;
          width: 345px;
        }

        @include media-breakpoint-down(sm) {
          font-size: 18px;
          max-width: 345px;
        }
      }

      .caption-icon {
        height: 60px;
        width: 50px;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        margin-left: 15px;
        margin-right: 15px;
      }

      .icon-1 {
        background-image: url(../img/team1.svg);
      }

      .icon-2 {
        background-image: url(../img/team2.svg);
      }
    }
  }
}
/* TEAM AREA END */

/* MAP AREA START */
.map-area {
  position: relative;

  [class*="ymaps-2"][class*="-ground-pane"] {
    filter: invert(1) grayscale(1) opacity(0.8);
  }

  .container-fluid {
    position: relative;
  }

  .clubs-block {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
  }

  a.club-info-btn {
    display: block;
    width: 152px;
    line-height: 44px;
    margin-left: 20px;
  }

  .inner-block {
    position: relative;
    overflow: hidden;
    max-width: 344px;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
      letter-spacing: 0.4px;
      text-align: center;
      padding-top: 10px;
      margin-bottom: 0;
    }

    @include media-breakpoint-up(lg) {
      height: 504px;
      max-width: 408px;
      padding: 20px 32px 32px 40px;
    }

    @include media-breakpoint-down(md) {
      margin-top: 50px;
      height: 384px;
      max-width: 344px;
      width: 100%;
      padding: 20px 16px 32px 16px;
    }

    .club-block {
      display: block;
      max-width: 344px;
      height: 88px;
      box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.04);
      background-color: $white;
      border-left: 5px solid #000;
      display: flex;
      flex-direction: row;
      align-items: center;
      color: #000;

      @include media-breakpoint-down(md) {
        padding: 14px 16px 12px 14px;
      }

      @include media-breakpoint-up(lg) {
        padding: 12px 17px 15px 25px;
      }

      &:hover,
      &:focus {
        color: #000;
        text-decoration: none;
      }

      &:hover {
        border-left: 5px solid $primary;
      }

      &.active {
        background-color: #ebf2d2;
        border-left: 5px solid $primary;
        .number-bg {
          background-image: url(../img/shape-copy-4.png);
          color: $primary;
        }
      }

      .number-bg {
        line-height: 38px;
        height: 42px;
        width: 30px;
        font-size: 22px;
        color: #c6c6c6;
        font-weight: 500;
        letter-spacing: 0.46px;
        text-align: center;
        background-image: url(../img/shape.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
      }

      .desc {
        margin-left: 17px;

        h4 {
          font-size: 18px;
          letter-spacing: 0.18px;
          font-weight: 600;
          margin-bottom: 3px;
        }

        p {
          letter-spacing: 0.14px;
          font-weight: normal;
          margin-bottom: 0;
        }
      }
    }
  }

  .club-info-block {
    padding-left: 45px;
    z-index: 50;
    width: 700px;
    align-self: flex-end;
    padding-bottom: 28px;

    .inner-div {
      background-color: rgba(0, 0, 0, 0.5);
      text-align: center;
      width: 100%;
      padding: 0 15px;
      font-size: 15px;
      letter-spacing: 0.06px;
      color: #ffffff;

      > div:not(:last-child) {
        padding-right: 26px;
      }

      .info-top,
      .info-bottom {
        padding: 10px 0;
      }

      .info-top {
        font-weight: 500;
        border-bottom: 1px solid #d6ff34;
      }

      .info-bottom {
        font-weight: 100;
      }
    }
  }

  @include media-breakpoint-down(md) {
    .map-block {
      height: 668px;
    }

    .club-info-block {
      display: none;
    }
  }

  @include media-breakpoint-up(lg) {
    .map-block {
      height: 558px;
    }
  }
}
/* MAP AREA END */
