@import "variables";
@import "avenir-next-cyr";
@import "magistral-c";

@import "../../../node_modules/bootstrap/scss/_functions";
@import "../../../node_modules/bootstrap/scss/_variables";
@import "../../../node_modules/bootstrap/scss/_mixins";
@import "../../../node_modules/bootstrap/scss/_root";
@import "../../../node_modules/bootstrap/scss/_reboot";
@import "../../../node_modules/bootstrap/scss/_type";
@import "../../../node_modules/bootstrap/scss/_images";
@import "../../../node_modules/bootstrap/scss/_code";
@import "../../../node_modules/bootstrap/scss/_grid";
@import "../../../node_modules/bootstrap/scss/_tables";
@import "../../../node_modules/bootstrap/scss/_forms";
@import "../../../node_modules/bootstrap/scss/_buttons";
@import "../../../node_modules/bootstrap/scss/_transitions";
@import "../../../node_modules/bootstrap/scss/_dropdown";
@import "../../../node_modules/bootstrap/scss/_button-group";
@import "../../../node_modules/bootstrap/scss/_input-group";
@import "../../../node_modules/bootstrap/scss/_custom-forms";
@import "../../../node_modules/bootstrap/scss/_nav";
@import "../../../node_modules/bootstrap/scss/_navbar";
@import "../../../node_modules/bootstrap/scss/_card";
@import "../../../node_modules/bootstrap/scss/_breadcrumb";
@import "../../../node_modules/bootstrap/scss/_pagination";
@import "../../../node_modules/bootstrap/scss/_badge";
@import "../../../node_modules/bootstrap/scss/_jumbotron";
@import "../../../node_modules/bootstrap/scss/_alert";
@import "../../../node_modules/bootstrap/scss/_progress";
@import "../../../node_modules/bootstrap/scss/_media";
@import "../../../node_modules/bootstrap/scss/_list-group";
@import "../../../node_modules/bootstrap/scss/_close";
@import "../../../node_modules/bootstrap/scss/_toasts";
@import "../../../node_modules/bootstrap/scss/_modal";
@import "../../../node_modules/bootstrap/scss/_tooltip";
@import "../../../node_modules/bootstrap/scss/_popover";
@import "../../../node_modules/bootstrap/scss/_carousel";
@import "../../../node_modules/bootstrap/scss/_spinners";
@import "../../../node_modules/bootstrap/scss/_utilities";
@import "../../../node_modules/bootstrap/scss/_print";

@import "global";
@import "header";
@import "navigation";
@import "clubs-modal";
@import "alert-modal";
@import "footer";

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* TOP HEADER START */
header {
  position: relative;
  @include media-breakpoint-up(xl) {
    .hex-c {
      width: 100%;
      height: 360px;
      z-index: 2;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 13%;
        height: 279px;
        min-width: 1915px;
        width: 100%;
        background: url(../img/group-6.svg);
        background-size: 427px 279px;
        background-repeat: no-repeat;
        background-position-y: top;
        background-position-x: left;
        z-index: 2;
      }
    }
  }
}

.h-top {
  @include media-breakpoint-up(lg) {
    .inner {
      width: 100%;
      height: 585px;
      z-index: 1;
      overflow: hidden;

      &::before {
        content: "";
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        width: 1635px;
        height: 293px;
        background-image: url(../img/header-kids.svg);
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position-y: top;
        background-position-x: right;
        z-index: 2;
      }
    }
  }
}
/* TOP HEADER END */

/* NAVBAR START */
nav.navbar {
  position: relative;

  .navbar-nav {
    z-index: 10;
  }
}
/* NAVBAR END */

/* BANNER AREA START*/
.banner-area {
  .banner-container {
    position: relative;
    z-index: 5;
    padding: 0;
  }

  .container-fluid {
    @include media-breakpoint-down(md) {
      height: 600px;
      background-image: url(../img/kids-bg.png);
      background-size: cover;
      background-repeat: no-repeat;
      padding-top: 30px;
    }
  }

  .banner-top {
    @include media-breakpoint-down(md) {
      display: none;
    }

    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -0.39px;
    color: $black;

    .breadcrumb {
      background: transparent;
      padding-left: 0;

      .breadcrumb-item {
        a {
          color: $black;
        }

        &.active {
          color: #8e8e8e;
        }
      }
    }

    .dropdown {
      text-decoration: underline;
    }
  }

  .banner-bottom {
    position: relative;

    @include media-breakpoint-down(md) {
      &::after {
        content: "";
        position: absolute;
        bottom: -7%;
        left: 25%;
        width: 75px;
        height: 71px;
        background: url(../img/flower-sm.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        z-index: 10;
        animation: spin 10s linear infinite;
      }
    }

    @include media-breakpoint-down(sm) {
      &::after {
        content: "";
        position: absolute;
        bottom: -7%;
        left: 10%;
        width: 75px;
        height: 71px;
        background: url(../img/flower-sm.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        z-index: 10;
        animation: spin 10s linear infinite;
      }
    }

    .card-block {
      position: relative;

      .card-img {
        display: block;
        position: relative;
        animation: floating 6s infinite ease-in-out;
        background: url(../img/1-karta-kluba-4-copy-3@3x.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center center;

        @include media-breakpoint-up(lg) {
          height: 440px;
          max-width: 450px;
        }

        @include media-breakpoint-down(md) {
          height: 275px;
          max-width: 345px;

          &::before {
            content: "";
            position: absolute;
            top: -10%;
            right: 7%;
            width: 86px;
            height: 81px;
            background: url(../img/flower-md.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            animation: spin 10s linear infinite;
          }
        }
      }
    }

    .row {
      @include media-breakpoint-up(lg) {
        &::before {
          content: "";
          position: absolute;
          right: -5%;
          bottom: -13%;
          width: 121px;
          height: 113px;
          background: url(../img/flower-md.svg);
          background-repeat: no-repeat;
          background-position: center center;
          animation: spin 10s linear infinite;
        }

        &::after {
          content: "";
          position: absolute;
          right: 5%;
          bottom: -20%;
          width: 75px;
          height: 71px;
          background: url(../img/flower-sm.svg);
          background-repeat: no-repeat;
          background-position: center center;
          animation: spin 10s linear infinite;
        }
      }
    }

    .desc-block {
      position: relative;

      @include media-breakpoint-up(lg) {
        &::before {
          content: "";
          position: absolute;
          top: -28%;
          left: 35%;
          width: 75px;
          height: 71px;
          background: url(../img/flower-sm.svg);
          background-repeat: no-repeat;
          background-position: center center;
          z-index: 5;
          animation: spin 10s linear infinite;
        }
      }

      @include media-breakpoint-down(md) {
        overflow: hidden;
        &::before {
          content: "";
          position: absolute;
          left: 0%;
          bottom: -2%;
          height: 110%;
          width: 100%;
          background: url(../img/white-shadow.png);
          background-repeat: no-repeat;
          background-position: center center;
          z-index: -1;
        }
      }
    }

    h1 {
      font-weight: bold;
      line-height: 1.2;
      color: #90b500;
      text-shadow: 0px 0px 10px#fff;

      @include media-breakpoint-up(lg) {
        font-size: 40px;
        letter-spacing: 0.8px;
        margin-bottom: 20px;
      }

      @include media-breakpoint-down(md) {
        font-size: 32px;
        letter-spacing: 1.44px;
        margin-top: 25px;
      }
    }

    p {
      font-weight: 300;
      text-shadow: 0px 2px 4px#fff;

      @include media-breakpoint-up(lg) {
        font-size: 24px;
        margin-bottom: 40px;
      }

      @include media-breakpoint-down(md) {
        font-size: 22px;
        margin-bottom: 25px;
      }
    }

    .btn {
      color: $white;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 1.12px;
      width: 204px;

      @include media-breakpoint-down(md) {
        width: 232px;
        letter-spacing: 1.42px;
        margin-bottom: 40px;
      }
    }

    @include media-breakpoint-up(lg) {
      height: 438px;
      padding-left: 55px;
      padding-right: 55px;
      background-image: url(../img/kids-bg.png);
      background-size: cover;
      background-repeat: no-repeat;

      &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        width: 578px;
        height: 100%;
        background-image: url(../img/kids-bg2.svg);
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position-y: top;
        background-position-x: right;
        z-index: 5;
      }
    }

    .row {
      @include media-breakpoint-down(md) {
        margin-left: 0;
        margin-right: 0;
      }
      position: relative;
      z-index: 8;
      > div {
        padding-left: 0;
        padding-right: 0;
      }
    }

    @keyframes floating {
      0% {
        transform: rotate(0deg);
      }
      5% {
        transform: rotate(2deg);
      }
      10% {
        transform: rotate(0deg);
      }
      55% {
        transform: translate(0px, 10px);
      }
      100% {
        transform: translate(0, -0px);
      }
    }
  }
}
/* BANNER AREA END*/

/* SCHEDULE AREA START*/
.schedule-area {
  .container-fluid {
    position: relative;

    .flower {
      @include media-breakpoint-up(lg) {
        display: none;
      }

      @include media-breakpoint-down(sm) {
        position: absolute;
        bottom: -7%;
        left: 50%;
        transform: translateX(-50%);
        width: 360px;
        height: 54px;
        z-index: 5;

        &::before {
          position: absolute;
          content: "";
          top: 0;
          right: 0;
          width: 57px;
          height: 54px;
          background-image: url(../img/blue-flower.svg);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          animation: spin 10s linear infinite;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        width: 109px;
        height: 83px;
        background-image: url(../img/cloud-half.png);
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
      }

      &::after {
        position: absolute;
        content: "";
        bottom: -10%;
        left: 0;
        width: 100%;
        height: 85px;
        background-image: url(../img/cloud-half2.png);
        background-size: auto;
        background-repeat: no-repeat;
        background-position: left top;
        z-index: 5;
      }
    }

    .container {
      position: relative;
      @include media-breakpoint-up(lg) {
        &::before {
          position: absolute;
          content: "";
          top: 0;
          left: -5%;
          width: 230px;
          height: 123px;
          background-image: url(../img/cloud.svg);
          background-size: auto;
          background-repeat: no-repeat;
          background-position: center;
          z-index: -1;
        }

        &::after {
          position: absolute;
          content: "";
          bottom: -10%;
          right: -5%;
          width: 251px;
          height: 134px;
          background-image: url(../img/cloud-mirror.svg);
          background-size: auto;
          background-repeat: no-repeat;
          background-position: center;
          z-index: -1;
        }
      }

      @include media-breakpoint-down(md) {
        overflow: hidden;
      }
    }

    img {
      margin-left: auto;
      margin-right: auto;
    }

    h2 {
      text-align: center;
      @include media-breakpoint-up(lg) {
        margin-top: 90px;
        margin-bottom: 50px;
      }

      @include media-breakpoint-down(md) {
        margin-top: 40px;
        margin-bottom: 10px;
        line-height: 32px;
      }
    }
  }
}
/* SCHEDULE AREA END */

/* WORKOUT AREA START */
.workouts-area {
  .worhouts-container {
    position: relative;
    @include media-breakpoint-down(md) {
      &::after {
        position: absolute;
        content: "";
        bottom: -5%;
        right: 0%;
        width: 110px;
        height: 99px;
        background-image: url(../img/cloud-half3.png);
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
      }
    }
  }

  h2 {
    text-align: center;

    @include media-breakpoint-up(lg) {
      padding-top: 125px;
      padding-bottom: 60px;
    }

    @include media-breakpoint-down(md) {
      padding-top: 100px;
      padding-bottom: 20px;
    }
  }

  .workouts-block {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    @include media-breakpoint-down(md) {
      &:last-child {
        position: relative;
        &::before {
          position: absolute;
          content: "";
          bottom: -3.5%;
          left: 15%;
          width: 63px;
          height: 59px;
          background-image: url(../img/blue-flower.svg);
          background-size: 100%;
          background-repeat: no-repeat;
          background-position: center;
          z-index: 120;
          animation: spin 10s linear infinite;
        }
      }
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: 110px;
    }

    @include media-breakpoint-down(lg) {
      margin-bottom: 55px;
    }
  }

  .workout-block {
    position: relative;
    overflow: hidden;
    width: 584px;
    height: 392px;
    cursor: pointer;

    @include media-breakpoint-up(lg) {
      width: 584px;
      height: 392px;
    }

    @include media-breakpoint-down(md) {
      width: 344px;
      height: 232px;
    }

    &:hover > img {
      transform: scale(1.1);
    }

    > img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 99;
      transition: all 0.5s ease;
      width: 100%;
      height: 100%;
    }

    @include media-breakpoint-down(sm) {
      margin: 0 15px 15px 15px;
    }

    @include media-breakpoint-down(lg) {
      &:nth-child(2n-1) {
        margin: 0 15px 15px 15px;
      }
    }

    .inner-block {
      z-index: 100;
      color: $white;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      padding: 15px 15px;

      @include media-breakpoint-up(lg) {
        height: 168px;
        width: 65%;
      }

      @include media-breakpoint-down(md) {
        height: 128px;
        width: 85%;
      }

      &.green-bg {
        background-color: rgba(178, 207, 65, 0.85);
      }

      &.pink-bg {
        background-color: rgba(160, 92, 161, 0.8);
      }

      &.orange-bg {
        background-color: rgba(249, 151, 72, 0.8);
      }

      &.blue-bg {
        background-color: rgba(89, 192, 203, 0.8);
      }

      h3 {
        font-weight: bold;
        letter-spacing: -0.65px;
        margin-bottom: 5px;

        @include media-breakpoint-up(lg) {
          font-size: 30px;
        }

        @include media-breakpoint-down(md) {
          font-size: 20px;
        }
      }

      p {
        font-weight: 300;
        letter-spacing: -0.39px;

        @include media-breakpoint-up(lg) {
          font-size: 18px;
        }

        @include media-breakpoint-down(md) {
          font-size: 16px;
        }
      }
    }
  }

  .bg-img-1 {
    background-image: url(../img/kids3.png);
  }

  .bg-img-2 {
    background-image: url(../img/kids2.png);
  }

  .bg-img-3 {
    background-image: url(../img/kids4.png);
  }

  .bg-img-4 {
    background-image: url(../img/kids1.png);
  }
}
/* WORKOUT AREA END */
/* SEASON AREA START*/
.season-area {
  h2.title {
    margin-bottom: 0;

    @include media-breakpoint-up(lg) {
      padding-top: 80px;
      padding-bottom: 70px;
    }

    @include media-breakpoint-down(md) {
      padding-top: 40px;
      padding-bottom: 35px;
    }
  }

  ul.seasons-list {
    position: relative;
    max-width: 690px;
    font-size: 28px;
    margin-bottom: 130px;

    li {
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 0;
    }

    @include media-breakpoint-up(xl) {
      &::after {
        position: absolute;
        content: "";
        top: -90%;
        left: -50%;    
        width: 251px;
        height: 134px;
        background-image: url(../img/cloud-mirror.svg);
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
      }

      &::before {
        position: absolute;
        content: "";
        top: -25%;
        right: -50%;  
        width: 166px;
        height: 99px;
        background-image: url(../img/small-cloud.svg);
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
      }
    }
  }

  .season-container {
    position: relative;

    @include media-breakpoint-up(xl) {
      &::after {
        content: "";
        position: absolute;
        right: -10%;
        top: -17%;
        width: 121px;
        height: 113px;
        background: url(../img/flower-md.svg);
        background-repeat: no-repeat;
        background-position: center center;
        animation: spin 10s linear infinite;
      }

      &::before {
        content: "";
        position: absolute;
        left: -8%;
        top: -17%;
        width: 99px;
        height: 98px;
        background: url(../img/pink-md-flower.svg);
        background-repeat: no-repeat;
        background-position: center center;
        animation: spin 10s linear infinite;
      }
    }  
  }

  .season-item-pink {
    button {
      background-color: $pink;
      color: $white;
      transition: all 0.5s ease-in-out;
    }

    .tariff-b {
      &::before {
        background-color: $pink;
      }
    }

    &.pink {
      .icon {
        background: $pink;
      }
    }

    .icon {
      background: $pink;
    }
  }

  .season-item-velvet {
    button {
      background-color: $velvet;
      color: $white;
      transition: all 0.5s ease-in-out;
    }

    .tariff-b {
      &::before {
        background-color: $velvet;
      }
    }

    .icon {
      background: $velvet;
    }
  }

  .season-item-blue {
    button {
      background-color: $blue;
      color: $white;
      transition: all 0.5s ease-in-out;
    }

    .tariff-b {
      &::before {
        background-color: $blue;
      }
    }

    .icon {
      background: $blue;
    }
  }

  .season-item-orange {
    button {
      background-color: $orange;
      color: $white;
      transition: all 0.5s ease-in-out;
    }

    .tariff-b {
      &::before {
        background-color: $orange;
      }
    }

    .icon {
      background: $orange;
    }
  }

  .season-item {
    box-shadow: 0 0 6px 0 #dbcdc1;
    background: linear-gradient(to top, #f8f8f8 100%, #ffffff 67%);
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    color: $black;
    transition: all 0.5s ease-in-out;

    &:hover {
      text-decoration: none;
      transform: scale(1.02);

      button {
        background-color: $dark;
        color: $white;
        transition: all 0.5s ease-in-out;
      }
    }

    @include media-breakpoint-up(xl) {
      width: 272px;
    }

    @include media-breakpoint-down(lg) {
      max-width: 344px;
      width: 100%;
      margin-bottom: 25px;
    }

    p {
      margin: 0;
    }

    .tariff-b {
      position: relative;
      width: 100%;
      color: white;
      background-image: url(../img/555-copy-6.png);
      background-repeat: no-repeat;
      background-position: left top;
      background-size: 100% auto;
      padding: 10px 13px 16px 17px;
      display: flex;
      flex-direction: column;
      border-top-left-radius: 13px;
      border-top-right-radius: 13px;

      &::before {
        border-top-left-radius: 13px;
        border-top-right-radius: 13px;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        mix-blend-mode: multiply;
      }

      .name {
        font-size: 31px;
        font-weight: bold;
        letter-spacing: 0;
        z-index: 10;
      }

      .old-price {
        font-size: 26px;
        letter-spacing: 0.54px;
        color: #a5a5a5;
        text-decoration: line-through;
        z-index: 10;
      }

      .new-price {
        z-index: 10;
        > div:first-child {
          font-size: 85px;
          font-weight: bold;
          letter-spacing: 0;
        }
        > div:last-child {
          > div:first-child {
            font-size: 44px;
            font-weight: bold;
            letter-spacing: 0.92px;
            line-height: 40px;
          }
          > div:last-child {
            font-size: 21px;
            font-weight: 300;
          }
        }
      }

      .offer {
        z-index: 10;
        font-size: 19px;
        font-weight: 300;
        letter-spacing: 0.24px;
      }
    }

    .features-b {
      margin: 0;
      padding: 0 20px;

      p {
        margin: 0;
      }

      li {
        align-items: center;
        padding: 35px 0;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.11;

        p:last-child {
          margin-left: 17px;
        }
      }

      .icon {
        mask: url(../img/combined-shape-copy-21.svg);
        display: inline-block;
        min-width: 31px;
        height: 31px;
        mask-size: cover;
      }
    }

    .desc {
      padding: 0 25px 35px 25px;
      display: flex;
      flex-direction: column;

      p {
        padding-top: 10px;
        padding-bottom: 30px;
        border-top: solid 1px #9f9f9f;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.13;
        letter-spacing: -0.33px;
        color: #818181;
      }

      .btn {
        width: 210px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
/* SEASON AREA END*/

/* PHOTO AREA START*/
.photo-area {
  .photo-container {
    max-width: 1000px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    text-align: right;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;

    @include media-breakpoint-up(xl) {
      &::before {
        content: "";
        position: absolute;
        right: -8%;
        top: -3%;
        width: 99px;
        height: 99px;
        background: url(../img/blue-md-flower.svg);
        background-repeat: no-repeat;
        background-position: center center;
        animation: spin 10s linear infinite;
      }
    }  
  }
}
/* PHOTO AREA END*/
