@import "variables";
@import "avenir-next-cyr";
@import "magistral-c";

@import "../../../node_modules/bootstrap/scss/_functions";
@import "../../../node_modules/bootstrap/scss/_variables";
@import "../../../node_modules/bootstrap/scss/_mixins";
@import "../../../node_modules/bootstrap/scss/_root";
@import "../../../node_modules/bootstrap/scss/_reboot";
@import "../../../node_modules/bootstrap/scss/_type";
@import "../../../node_modules/bootstrap/scss/_images";
@import "../../../node_modules/bootstrap/scss/_code";
@import "../../../node_modules/bootstrap/scss/_grid";
@import "../../../node_modules/bootstrap/scss/_tables";
@import "../../../node_modules/bootstrap/scss/_forms";
@import "../../../node_modules/bootstrap/scss/_buttons";
@import "../../../node_modules/bootstrap/scss/_transitions";
@import "../../../node_modules/bootstrap/scss/_dropdown";
@import "../../../node_modules/bootstrap/scss/_button-group";
@import "../../../node_modules/bootstrap/scss/_input-group";
@import "../../../node_modules/bootstrap/scss/_custom-forms";
@import "../../../node_modules/bootstrap/scss/_nav";
@import "../../../node_modules/bootstrap/scss/_navbar";
@import "../../../node_modules/bootstrap/scss/_card";
@import "../../../node_modules/bootstrap/scss/_breadcrumb";
@import "../../../node_modules/bootstrap/scss/_pagination";
@import "../../../node_modules/bootstrap/scss/_badge";
@import "../../../node_modules/bootstrap/scss/_jumbotron";
@import "../../../node_modules/bootstrap/scss/_alert";
@import "../../../node_modules/bootstrap/scss/_progress";
@import "../../../node_modules/bootstrap/scss/_media";
@import "../../../node_modules/bootstrap/scss/_list-group";
@import "../../../node_modules/bootstrap/scss/_close";
@import "../../../node_modules/bootstrap/scss/_toasts";
@import "../../../node_modules/bootstrap/scss/_modal";
@import "../../../node_modules/bootstrap/scss/_tooltip";
@import "../../../node_modules/bootstrap/scss/_popover";
@import "../../../node_modules/bootstrap/scss/_carousel";
@import "../../../node_modules/bootstrap/scss/_spinners";
@import "../../../node_modules/bootstrap/scss/_utilities";
@import "../../../node_modules/bootstrap/scss/_print";
@import "../../../node_modules/owl.carousel/src/scss/owl.carousel.scss";

@import "global";
@import "header";
@import "navigation";
@import "clubs-modal";
@import "footer";
@import "workouts";

/* TOP HEADER START */
header {
    position: relative;
    @include media-breakpoint-up(xl) {
        .hex-c {
            width: 100%;
            height: 360px;
            z-index: 2;
            overflow: hidden;

            &::before {
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 13%;
                height: 279px;
                min-width: 2025px;
                width: 100%;
                background: url(../img/group-6.svg);
                background-size: 427px 279px;
                background-repeat: no-repeat;
                background-position-y: top;
                background-position-x: left;
                z-index: 2;
            }
        }
    }
}

.h-top {
    @include media-breakpoint-up(xl) {
        .inner {
            width: 100%;
            height: 585px;
            z-index: 1;
            overflow: hidden;

            &::before {
                content: "";
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                position: absolute;
                width: 1790px;
                height: 466px;
                background-image: url(../img/group-6-copy.svg);
                background-size: auto 100%;
                background-repeat: no-repeat;
                background-position-y: top;
                background-position-x: right;
                z-index: 2;
            }
        }
    }
}
/* TOP HEADER END */

/* NAVBAR START */
nav.navbar {
    position: relative;

    .navbar-nav {
        z-index: 4;
    }
}
/* NAVBAR END */

/* BANNER AREA START*/
.banner-area {
    .banner-container {
        position: relative;
        width: 100%;

        .star {
            width: 14px;
            height: 14px;
        }

        @include media-breakpoint-down(xl) {
            height: 600px;
        }

        @include media-breakpoint-up(xl) {
            height: 497px;
        }

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            background-image: url(../img/invalid-name.png);
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -3;
        }

        @include media-breakpoint-down(lg) {
            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                background-color: rgba(0, 0, 0, 0.5);
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
                z-index: -2;
            }
        }

        .container-fluid {
            position: relative;

            .rectagle-bg {
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: -2;
                overflow: hidden;

                @include media-breakpoint-up(xl) {
                    &::before {
                        content: "";
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        position: absolute;
                        width: 1565px;
                        height: 100%;
                        background-image: url(../img/rectagle-group.svg);
                        background-size: auto 100%;
                        background-repeat: no-repeat;
                        background-position-y: top;
                        background-position-x: right;
                    }
                }
            }
        }

        .container {
            height: 100%;
            justify-content: space-between;
            position: relative;
        }

        .promo-block {
            @include media-breakpoint-down(lg) {
                flex: 0 1 65%;
            }

            .quality-b {
                font-size: 16px;
                line-height: 30px;
                color: $white;
                font-weight: 500;
                margin-top: 15px;

                p {
                    margin-bottom: 0;
                }

                a {
                    color: #1eb8ff;
                }
            }

            .inner {
                overflow: hidden;

                @include media-breakpoint-up(xl) {
                    background-image: url(../img/group-4.svg);
                }

                @include media-breakpoint-down(lg) {
                    background-image: url(../img/group2.png);
                }

                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;

                @include media-breakpoint-down(lg) {
                    height: 235px;
                    max-width: 355px;
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 15px;
                    letter-spacing: -0.32px;
                }

                @include media-breakpoint-up(xl) {
                    position: absolute;
                    right: 20px;
                    bottom: -177px;
                    width: 606px;
                    height: 333px;
                    z-index: 4;
                    font-size: 24px;
                }

                > div {
                    transform: rotate(356deg);
                    margin-left: auto;
                    margin-right: auto;

                    @include media-breakpoint-up(xl) {
                        width: 75%;
                        margin-top: 10%;
                    }

                    @include media-breakpoint-down(lg) {
                        width: 80%;
                        margin-top: 14%;
                    }


                }

                h5 {
                    font-weight: bold;
                    text-transform: uppercase;

                    @include media-breakpoint-up(xl) {
                        font-size: 38px;
                        line-height: 1.16;
                        letter-spacing: 0.79px;
                    }

                    @include media-breakpoint-down(lg) {
                        font-size: 24px;
                        line-height: 1.16;
                        letter-spacing: 0.5px;
                    }
                }

                form {
                    @include media-breakpoint-down(lg) {
                        margin-bottom: 10px;
                    }
                    @include media-breakpoint-up(xl) {
                        margin-bottom: 15px;
                    }
                }

                input.form-control {
                    width: 49%;
                    border-radius: 28px;
                    box-shadow: inset 0 0 1px 1px #769203;
                    font-weight: 300;

                    @include media-breakpoint-up(xl) {
                        letter-spacing: -0.39px;
                        font-size: 18px;
                        height: 48px;
                    }

                    @include media-breakpoint-down(lg) {
                        letter-spacing: -0.3px;
                        font-size: 14px;
                        height: 34px;
                    }
                }

                button {
                    width: 49%;
                    height: 48px;
                    border-radius: 32.5px;
                    color: $white;
                    font-weight: bold;

                    @include media-breakpoint-up(xl) {
                        padding-left: 5px;
                        padding-right: 5px;
                        height: 48px;
                        font-size: 16px;
                        letter-spacing: 0.1px;
                    }

                    @include media-breakpoint-down(lg) {
                        letter-spacing: -0.3px;
                        font-size: 12px;
                        padding-left: 0;
                        padding-right: 0;
                        height: 34px;
                    }
                }

                .price {
                    font-weight: 300;
                    color: $black;

                    b {
                        font-weight: 700;
                    }

                    @include media-breakpoint-up(xl) {
                        font-size: 25px;
                        margin-bottom: 15px;
                    }

                    @include media-breakpoint-down(lg) {
                        letter-spacing: -0.27px;
                        font-size: 16px;
                        margin-bottom: 10px;
                    }
                }

                .promo {
                    font-weight: 500;
                }
            }
        }

        .info-div {
            height: auto;
            margin-bottom: 20px;
            background-color: rgba(0, 0, 0, 0.5);
            text-align: center;
            padding: 0 15px;
            padding-bottom: 10px;
            font-size: 15px;
            letter-spacing: 0.06px;
            color: #ffffff;
            flex: 0 1 45%;

            a {
                color: #1eb8ff;
            }

            .info-block {
                &:not(:last-child) {
                    margin-right: 30px;
                }

                > div {
                    &:first-child {
                        font-weight: 500;
                        padding-bottom: 8px;
                        padding-top: 15px;
                        border-bottom: 1px solid #d6ff34;
                    }
                    &:last-child {
                        padding-top: 8px;
                        padding-bottom: 10px;
                        font-weight: 100;
                    }
                }
            }
        }

        .subtitle-div {
            flex: 0 1 55%;
            font-family: "MagistralC";

            @include media-breakpoint-down(lg) {
                flex: 0 1 35%;
            }

            > div {
                @include media-breakpoint-up(xl) {
                    width: 76%;
                }
            }

            h2 {
                font-weight: bold;
                color: $white;

                @include media-breakpoint-up(xl) {
                    margin-top: 40px;
                    font-size: 32px;
                    line-height: 1.25;
                    letter-spacing: 0.67px;
                }

                @include media-breakpoint-down(lg) {
                    margin-top: 30px;
                    font-size: 23px;
                    line-height: 1.25;
                    letter-spacing: 0.48px;
                }
            }

            p {
                color: $white;
                text-align: center;
                margin-bottom: 0;

                @include media-breakpoint-up(xl) {
                    margin-top: 25px;
                    font-size: 26px;
                    line-height: 1.31;
                    letter-spacing: 1.44px;
                }

                @include media-breakpoint-down(lg) {
                    margin-top: 25px;
                    font-size: 20px;
                    line-height: 1.31;
                    letter-spacing: 1.11px;
                }
            }
        }
    }

}
/* BANNER AREA END*/

/* PAGE NAVIGATION START*/
.page-nav-area {
    .nav-container {
        @include media-breakpoint-up(xl) {
            height: 645px;
            background-image: url(../img/555-copy-3.png), url(../img/555-copy-4.png);
            background-position: right top, left top;
            background-repeat: no-repeat, no-repeat;
        }

        @include media-breakpoint-down(lg) {
            padding: 72px 0;
            background-image: url(../img/555Copy4.jpg), url(../img/555Copy4-copy.jpg);
            background-position: right top, left bottom;
            background-repeat: no-repeat, no-repeat;
        }

        .page-nav-item {
            display: flex;
            align-items: center;
            flex-direction: column;
            font-weight: bold;
            color: #000000;
            justify-content: space-between;

            @include media-breakpoint-up(xl) {
                padding-top: 60px;
                padding-bottom: 35px;
            }

            @include media-breakpoint-down(lg) {
                padding-top: 23px;
                padding-bottom: 8px;
            }

            .icon {
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;
            }

            .imb-bg-1 {
                background-image: url(../img/shape.svg);

                @include media-breakpoint-up(xl) {
                    height: 106px;
                    width: 71px;
                }
                @include media-breakpoint-down(lg) {
                    height: 57px;
                    width: 38px;
                }
            }

            .imb-bg-2 {
                background-image: url(../img/combined-shape1.svg);

                @include media-breakpoint-up(xl) {
                    height: 87px;
                    width: 84px;
                }
                @include media-breakpoint-down(lg) {
                    height: 44px;
                    width: 43px;
                }
            }

            .imb-bg-3 {

                background-image: url(../img/combined-shape.svg);

                @include media-breakpoint-up(xl) {
                    height: 67px;
                    width: 103px;
                }
                @include media-breakpoint-down(lg) {
                    height: 34px;
                    width: 61px;
                }
            }

            .imb-bg-4 {
                background-image: url(../img/path.svg);

                @include media-breakpoint-up(xl) {
                    height: 96px;
                    width: 50px;
                }
                @include media-breakpoint-down(lg) {
                    height: 48px;
                    width: 25px;
                }
            }

            &:hover, &:focus {
                text-decoration: none;
            }

            @include media-breakpoint-up(xl) {
                width: 264px;
                height: 264px;
                font-size: 20px;
                letter-spacing: 0.2px
            }

            @include media-breakpoint-down(lg) {
                width: 136px;
                height: 136px;
                margin: 13px;
                font-size: 15px;
                letter-spacing: 0.15px
            }

            border-radius: 9px;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.29);
            background-image: linear-gradient(to top, #f8f8f8, #ffffff);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ffffff', GradientType=0 );
        }
    }

}
/* PAGE NAVIGATION END*/

/* SERVICES AREA START*/
.services-area {
    .services-container {
        overflow: hidden;
        background-color: $primary;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background: url(../img/combined-shape-copy-12.svg);
            background-repeat: repeat-y;
            background-position: center center;
            z-index: 1;
        }

        .container {
            z-index: 2;
            position: relative;
        }

        @include media-breakpoint-up(xl) {
            height: 958px;
        }

        h2 {
            color: $white;
            text-align: center;
            margin-top: 66px;
            margin-bottom: 80px;
        }

        h5 {
            margin: 0;
            text-align: center;
            font-weight: 600;
        }

        $xl-width: 264px;
        $xl-height: 288px;

        .flip-card {
            background-color: transparent;
            width: $xl-width;
            height: $xl-height;
            margin-bottom: 32px;
            cursor: pointer;
            position: relative;
            text-align: center;
            perspective: 1000;

            &:hover > .flip-card-front{
                @include media-breakpoint-up(xl) {
                    transform: rotateY(-180deg) scale(1.034, 1.083);
                }

                @include media-breakpoint-down(lg) {
                    transform: rotateY(-180deg);
                }
            }

            &:hover > .flip-card-back{

                @include media-breakpoint-up(xl) {
                    transform: rotateY(0deg) scale(1.034, 1.083);
                }

                @include media-breakpoint-down(lg) {
                    transform: rotateY(0deg);
                }
            }

            .flip-card-front, .flip-card-back {
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 9px;
                box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.29);
                backface-visibility: hidden;
                transition: transform .8s linear;
                transform-style: preserve-3d;
                perspective: 1000;
            }

            .flip-card-front {
                transform: rotateY(0deg) scale(1, 1);
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-between;
                font-weight: bold;
                color: #000000;
                background-image: linear-gradient(to top, #f8f8f8, #ffffff);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ffffff', GradientType=0 );

                &:hover, &:focus {
                    text-decoration: none;
                }

                h5 {
                    font-size: 24px;
                    letter-spacing: 0.24px;
                    margin-bottom: 20px;
                    width: 100%;
                }

                @include media-breakpoint-up(xl) {
                    padding: 70px 0 35px 0;
                }

                @include media-breakpoint-down(lg) {
                    padding: 55px 0 40px 0;
                }
            }

            .flip-card-back {
                transform: rotateY(180deg);
                background-color: #000000;
                color: white;

                @include media-breakpoint-down(lg) {
                    padding: 50px 22px;
                }

                @include media-breakpoint-up(xl) {
                    padding: 22px;
                }

                h5 {
                    font-weight: 500;
                    font-size: 26px;
                    letter-spacing: 0.26px;
                    color: $primary;
                    margin-bottom: 30px;

                    @include media-breakpoint-down(lg) {
                        display: none;
                    }
                }

                p {
                    text-align: left;
                    font-size: 18px;
                    line-height: 20;
                    font-weight: 100;
                    letter-spacing: 0;
                    line-height: 1.11;
                }

                &.img-bg-1 {
                    background-image: url(../img/fitnessbar.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                &.img-bg-2 {
                    background-image: url(../img/solar.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                &.img-bg-3 {
                    background-image: url(../img/towel.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                &.img-bg-4 {
                    background-image: url(../img/hammam.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                &.img-bg-5 {
                    background-image: url(../img/hammam.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                &.img-bg-6 {
                    background-image: url(../img/parking.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                &.img-bg-7 {
                    background-image: url(../img/parking.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                &.img-bg-8 {
                    background-image: url(../img/dryer.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                }

            }
        }
    }
}
/* SERVICES AREA END*/

/* SEASON AREA START*/
.season-area {
    .container-fluid {
        overflow: hidden;

        @include media-breakpoint-up(lg) {
            margin-top: 60px;
            margin-bottom: 185px;
        }

        @include media-breakpoint-down(md) {
            margin-top: 30px;
        }
    }

    h2 {
        @include media-breakpoint-up(lg) {
            margin-bottom: 70px;
        }

        @include media-breakpoint-down(md) {
            margin-bottom: 30px;
        }
    }
    .season-item {
        width: 368px;
        box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.29);
        background-image: linear-gradient(to top, #f8f8f8, #ffffff);
        border-radius: 13px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        color: $black;

        &:hover {
            box-shadow: 0 0 16px 0 rgba(134, 238, 49, 0.61);
            text-decoration: none;

            .tariff-b {
                background-image: url(../img/555-copy.png);

                .old-price {
                    color: #dcfe55;
                }
            }

            button {
                background-color: $primary;
                border: none;
                color: $white;
            }
        }

        @include media-breakpoint-up(xl) {
            margin-bottom: 15px;
        }

        @include media-breakpoint-down(lg) {
            margin-right: 15px;
            margin-left: 15px;
            margin-bottom: 25px;
        }

        p {
            margin: 0;
        }

        .tariff-b {
            width: 100%;
            color: white;
            background-image: url(../img/555-copy-2.png);
            background-repeat: no-repeat;
            background-position: top center;
            padding: 31px 32px 32px 25px;
            display: flex;
            flex-direction: column;

            .name {
                font-size: 36px;
                font-weight: bold;
                letter-spacing: 0.75px;
            }

            .old-price {
                font-size: 26px;
                letter-spacing: 0.54px;
                color: #a5a5a5;
                text-decoration: line-through;
            }

            .new-price {
                > div:first-child {
                    font-size: 90px;
                    font-weight: bold;
                    letter-spacing: 1.88px;
                }
                > div:last-child {
                    > div:first-child {
                        font-size: 44px;
                        font-weight: bold;
                        letter-spacing: 0.92px;
                        line-height: 40px;
                    }
                    > div:last-child {
                        font-size: 26px;
                        font-weight: 300;
                    }
                }
            }

            .offer {
                font-size: 24px;
                font-weight: 300;
                letter-spacing: 0.3px;
            }
        }

        .features-b {
            margin: 0;
            padding: 0 30px;
            min-height: 500px;

            p {
                margin: 0;
            }

            li {
                align-items: center;
                padding: 15px 0;

                &:not(:last-child) {
                    border-bottom: 1px dotted #cecece;
                }

                > p:first-child {
                    margin-right: 17px;
                }
            }

        }

        .desc {
            padding: 0 30px;
            margin-top: 40px;
            padding-bottom: 60px;
            display: flex;
            flex-direction: column;
            p {
                padding-top: 10px;
                padding-bottom: 30px;
                border-top: solid 1px #101929;
                font-size: 16px;
                font-weight: 300;
                line-height: 1.13;
                letter-spacing: -0.33px;
                color: #818181;
            }

            .btn {
                width: 250px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}
/* SEASON AREA END*/

/* SCHEME AREA START*/
.scheme-area {
    .container-fluid {
        overflow: hidden;
        background-color: #f5f5f5;

        @include media-breakpoint-up(lg) {
            padding: 80px 0;
            height: 976px;
        }

        @include media-breakpoint-down(md) {
            padding-top: 30px;
            padding-bottom: 27px;
        }
    }

    .scheme {
        position: relative;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 40px;

        > div:first-child {
            @include media-breakpoint-up(lg) {
                height: 549px;
                background-image: url(../img/invalid-name1.png);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }

            @include media-breakpoint-down(md) {
                height: 294px;
                background-image: url(../img/kupchino-sm-scheme.png);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }

            width: 100%;
        }

        .off {
            display: none;
        }

        .scheme-slides {
            max-width: 338px;
            margin-top: 40px;
            margin-left: auto;
            margin-right: auto;

            .slide {
                display: flex;
                justify-content: center;
                align-items: center;

                > div:first-child {
                    font-size: 30px;
                    line-height: 44px;
                    letter-spacing: 0.63px;
                    color: $primary;
                    font-weight: bold;
                    margin-right: 15px;
                }

                > div:last-child {
                    text-align: left;
                    max-width: 155px;
                    font-size: 20px;
                    line-height: 21px;
                    letter-spacing: -0.27px;
                }
            }

            .owl-nav {
                position: absolute;
                width: 100%;
                top: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;

                button.owl-prev {
                    background-image: url(../img/groupCopy4.png);
                }

                button.owl-next {
                    background-image: url(../img/groupCopy5.png);
                }


                button.owl-prev,  button.owl-next {
                    cursor: pointer;
                    background-position: center center;
                    background-repeat: no-repeat;
                    width: 52px;
                    height: 52px;
               }
            }
        }
    }

    h2 {
        margin-bottom: 60px;
    }
}
/* SCHEME AREA END*/

/* GALLERY AREA START*/
.gallery-area {
    .gallery-container {
        background-color: #26272b;
        position: relative;

        @include media-breakpoint-up(xl) {
            height: 880px;
            &::before {
                content: "";
                position: absolute;
                top: -4.1%;
                left: 0;
                height: 706px;
                width: 272px;
                background: url(../img/group-12.svg);
                background-size: auto;
                background-repeat: no-repeat;
                background-position: left top;
                z-index: 2;
            }

            &::after {
                content: "";
                position: absolute;
                bottom: -0.2%;
                right: 0;
                height: 802px;
                width: 328px;
                background: url(../img/group-13.svg);
                background-size: auto;
                background-repeat: no-repeat;
                background-position: right bottom;
                z-index: 2;
            }
        }

        @include media-breakpoint-down(lg) {
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 159px;
                width: 80px;
                background: url(../img/group10.png);
                background-size: auto;
                background-repeat: no-repeat;
                background-position: left top;
                z-index: 2;
            }

            &::after {
                content: "";
                position: absolute;
                bottom: 0%;
                right: 0;
                height: 149px;
                width: 74px;
                background: url(../img/group11.png);
                background-size: auto;
                background-repeat: no-repeat;
                background-position: right bottom;
                z-index: 2;
            }
        }
    }

    .container {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;

        @include media-breakpoint-up(xl) {
            max-width: 1400px;
        }

        @include media-breakpoint-down(lg) {
            max-width: 720px;
        }

        @include media-breakpoint-down(sm) {
            max-width: 335px;
        }

        .desc {
            color: $white;
            margin-bottom: 0;
            font-weight: 300;
            text-align: center;
            margin-top: auto;

            @include media-breakpoint-up(xl) {
                margin-bottom: 70px;
                font-size: 18px;
                line-height: 0.72;
            }
    
            @include media-breakpoint-down(lg) {
                margin-bottom: 35px;
                font-size: 14px;
                line-height: 16px;
            }  
        }
    }
    
    .buttons {
        position: absolute;
        left: 50%;
        top: 45%;
        width: 58%;  
        transform: translateX(-50%);
        justify-content: space-between;
        z-index: 20;

        @include media-breakpoint-up(xl) {
            display: flex;
        }

        @include media-breakpoint-down(lg) {
            display: none;
        }

        .prev-btn, .next-btn {
            cursor: pointer;
            background-position: center center;
            background-repeat: no-repeat;
            border:0;

            @include media-breakpoint-up(xl) {
                width: 58px;
                height: 58px;
            }
    
            @include media-breakpoint-down(lg) {
                width: 40px;
                height: 40px;
            }
        }

        @include media-breakpoint-up(xl) {
            .prev-btn {
                background-image: url(../img/prev.svg);
            }
    
            .next-btn {
                background-image: url(../img/next.svg);
            }
        }

        @include media-breakpoint-down(lg) {
            .prev-btn {
                background-image: url(../img/groupCopy4.png);
            }
    
            .next-btn {
                background-image: url(../img/groupCopy5.png);
            }
        }

    }

    .gallery-carousel {

        @include media-breakpoint-down(lg) {

        .owl-nav {
            position: absolute;
            text-align: center;
            top: 40%;
            left: -2%;
            width: 105%;
            display: flex;
            justify-content: space-between;

            button.owl-prev,  button.owl-next {
              cursor: pointer;
              background-position: center center;
              background-repeat: no-repeat;

              @include media-breakpoint-up(xl) {
                    width: 58px;
                    height: 58px;
                }
    
              @include media-breakpoint-down(lg) {
                    width: 40px;
                    height: 40px;
                }
            }

            @include media-breakpoint-up(xl) {
                button.owl-prev {
                    background-image: url(../img/prev.svg);
                }
        
                button.owl-next {
                    background-image: url(../img/next.svg);
                }
            }
    
            @include media-breakpoint-down(lg) {
                button.owl-prev {
                    background-image: url(../img/groupCopy4.png);
                }
        
                button.owl-next {
                    background-image: url(../img/groupCopy5.png);
                }
            }
          }
        }

        @include media-breakpoint-up(xl) {
            position: relative;
            width: 100%;

            div {
                position: absolute;
                transition: transform 1s, left 1s, opacity 1s, z-index 0s, width 1s;
                opacity: 1;
                width: 57.3%;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.88);
                
                img {
                    width: 100%;
                    height: 100%;
                }
    
                &.prev, &.prevLeftSecond, &.next, &.nextRightSecond {
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0%;
                        top: 0%;
                        height: 100%;
                        width: 100%;
                        background-color: rgba(0,0,0,.7);
                        z-index: 6;
                    }
                }
    
                &.prev {
                    z-index: 5;
                    left: 30%;
                    transform: translateY(20%) translateX(-55%);
                    width: 39%;
                }
    
                &.prevLeftSecond {
                    z-index: 4;
                    left: 15%;
                    transform: translateY(45%) translateX(-50%);
                    width: 29.9%;
                }
    
                &.selected {
                    z-index: 10;
                    left: 50%;
                    transform: translateY(0px) translateX(-50%);
                }
    
                &.next {
                    z-index: 5;
                    left: 70%;
                    transform: translateY(20%) translateX(-45%);
                    width: 39%;
                }
    
                &.nextRightSecond {
                    z-index: 4;
                    left: 85%;
                    transform: translateY(45%) translateX(-50%);
                    width: 29.9%;
                }

                &.hideLeft {
                    left: 15%;
                    opacity: 0;
                    width: 29.9%;
                    transform: translateY(50%);
                }

                &.hideRight {
                    left: 65%;
                    opacity: 0;
                    width: 29.9%;
                    transform: translateY(50%);
                }
            }
        }
    }

    h2 {
        text-align: center;
        color: $white;
        margin-bottom: 0;

        @include media-breakpoint-up(lg) {
            padding-top: 85px;
            padding-bottom: 50px;
        }

        @include media-breakpoint-down(md) {
            padding-top: 45px;
            padding-bottom: 30px;
        }
    }
}
/* GALLERY AREA END*/

/* MAP AREA START */
.map-area {
    position: relative;

    [class*="ymaps-2"][class*="-ground-pane"] {
      filter: invert(1) grayscale(1) opacity(0.8);
    }

    .container-fluid {
      position: relative;

        @include media-breakpoint-up(xl) {
            &::before {
                content: "";
                position: absolute;
                right: 0%;
                top: -14.5%;
                width: 221px;
                height: 159px;
                background: url(../img/group-7-copy-3.svg);
                background-repeat: no-repeat;
                z-index: 4;
            }
        }
    }

    .clubs-block {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
    }

    a.club-info-btn {
      display: block;
      width: 152px;
      line-height: 44px;
      margin-left: 20px;
    }

    .inner-block {
      overflow: hidden;
      max-width: 408px;
      background-color: rgba(255, 255, 255, 0.9);
      z-index: 10;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px 32px 32px 40px;

      h2, p {
        margin-bottom: 0;
      }

      p {
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 0.18px;
        color: #101929;

        @include media-breakpoint-up(lg) {
            line-height: 30px;
        }
      }

      @include media-breakpoint-up(lg) {
        height: 504px;
      }

      @include media-breakpoint-down(md) {
        margin-top: 50px;
        height: 431px;
      }

      .club-block {
        display: block;
        max-width: 340px;
        box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.04);
        background-color: $white;
        border-left: 5px solid #000;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 9px 3px 10px 13px;
        color: #000;
        line-height: 20px;

        .f-small {
            font-size: 14px;
        }

        &:first-child {
            height: 150px;
        }

        &:last-child {
            height: 115px;
        }

        &:hover, &:focus {
          color: #000;
          text-decoration: none;
        }

        &:hover {
          border-left: 5px solid $primary;
        }

        &.active {
          background-color: #ebf2d2;
          border-left: 5px solid $primary;
          .number-bg {
            background-image: url(../img/shape-copy-4.png);
            color: $primary;
          }
        }

        .number-bg {
          line-height: 38px;
          height: 42px;
          width: 25px;
          font-size: 22px;
          color: #c6c6c6;
          font-weight: 500;
          letter-spacing: 0.46px;
          text-align: center;
          background-image: url(../img/shape.png);
          background-size: contain;
          background-position: center center;
          background-repeat: no-repeat;
        }

        .desc {
          h4 {
            color: $primary;
            font-size: 18px;
            letter-spacing: 0.18px;
            font-weight: 500;
            margin-bottom: 3px;
          }

          p {
            letter-spacing: 0.14px;
            font-weight: normal;
            margin-bottom: 0;
          }
        }
      }
    }

    .club-info-block {
      height: 504px;
      padding-left: 45px;

      .inner-div {
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        width: 100%;
        padding: 0 15px;
        font-size: 15px;
        letter-spacing: 0.06px;
        color: #ffffff;

        > div:not(:last-child) {
          padding-right: 26px;
        }

        .info-top, .info-bottom {
          padding: 10px 0;
        }

        .info-top {
          font-weight: 500;
          border-bottom: 1px solid #d6ff34;
        }

        .info-bottom {
          font-weight: 100;
        }
      }

    }

    @include media-breakpoint-down(md) {
      .map-block {
        height: 688px;
      }

      .club-info-block {
        display: none;
      }
    }

    @include media-breakpoint-up(lg) {
      .map-block {
        height: 558px;
      }

      .club-info-block {
        display: flex;
      }
    }
  }
  /* MAP AREA END */

  /* ANNOUNCE AREA START*/
  .announce-container {
    background-image: url(../img/img-1575.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: $white;
    display: flex;

    @include media-breakpoint-up(lg) {
        height: 562px;
    }

    @include media-breakpoint-down(md) {
        height: 688px;
    }

    h3 {
        @include media-breakpoint-up(lg) {
            font-size: 48px;
            letter-spacing: 1px;
        }

        @include media-breakpoint-down(md) {
            font-size: 28px;
            letter-spacing: 0.58px;
            width: 70%;
            margin-left: auto;
            margin-right: auto;
        }

        font-weight: bold;
    }

    .subtitle {
        font-weight: 500;
        letter-spacing: normal;
        color: $primary;

        @include media-breakpoint-up(lg) {
            font-size: 36px;
            line-height: 0.92;
        }

        @include media-breakpoint-down(md) {
            font-size: 22px;
            letter-spacing: 0;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .text-sm {
        font-weight: 300;

        @include media-breakpoint-up(lg) {
            font-size: 18px;
            width: 60%;
            margin-left:auto;
            margin-right: auto;
        }

        @include media-breakpoint-down(md) {
            font-size: 16px;
            width: 85%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .rules {
        font-weight: 300;

        @include media-breakpoint-up(lg) {
            font-size: 16px;
        }

        @include media-breakpoint-down(md) {
            font-size: 14px;
            width: 85%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1;
    }

    @include media-breakpoint-down(md) {
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            height: 100%;
            width: 100%;
            background: url(../img/group5.png), url(../img/group6.png);
            background-size: auto, auto;
            background-repeat: no-repeat, no-repeat;
            background-position: left top, right bottom;
            z-index: 2;
        }
    }

    .inner {
        bottom: 0;
        height: 110%;
        position: absolute;
        width: 100%;
        overflow: hidden;
        z-index: 4;

        @include media-breakpoint-up(lg) {
            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                height: 100%;
                min-width: 1700px;
                background: url(../img/group-11.svg), url(../img/group-10.svg);
                background-size: auto, auto;
                background-repeat: no-repeat, no-repeat;
                background-position: left bottom, right bottom;
                z-index: 5;
            }
        }
    }

    .container {
        position: relative;
        z-index: 6;

        > div {
           height: 95%;
        }

        .h-60 {
            @include media-breakpoint-up(lg) {
                height: 60%;
            }

            @include media-breakpoint-down(md) {
                height: 80%;
            }
        }

        .mt-10 {
            margin-top: 8%;
        }
    }

    form {
        @include media-breakpoint-up(lg) {
            width: 90%;
        }

        @include media-breakpoint-down(md) {
            max-width: 272px;
        }

        margin-left: auto;
        margin-right: auto;
    }

    .input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
        border-radius: 28px;
    }

    .input-group {
        border-radius: 28px;
        position: relative;
        height: 56px;
        padding-left: 5px;
        padding-right: 5px;

        @include media-breakpoint-up(lg) {
            &:not(:last-child) {
                margin-right: 40px;
            }
        }

        @include media-breakpoint-down(md) {
            margin-bottom: 15px;
        }

        .input-group-prepend {
          position: absolute;
          overflow: hidden;
          z-index: 1000;
          height: 100%;
        }

        .input-group-text {
          border-radius: 50%;
          font-size: 36px;
          font-weight: 500;
          letter-spacing: 0.75px;
          padding: 0 14px;
          margin-right: 2px;
          margin-top: 2px;
          margin-bottom: 2px;
        }

        &.primary {
          background-color: $primary;
          border: solid 1px $black;

          .input-group-text {
            background-color: $primary;
            border: solid 1px $black;
            color: $black;
          }

          input {
            background-color: $primary;
          }
        }

        &.white {
          background-color: $white;
          color: $primary;
          border: solid 1px $primary;

          .input-group-text {
            border: solid 1px $primary;
            color: $primary;
            background-color: $white;
          }
        }

      }
      input {
        color: $black;
        padding-left: 20%;

        &[type="button"] {
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 0.8px;
        }

        &[type="text"] {
          font-size: 18px;
          font-weight: 300;
          letter-spacing: -0.39px;
          align-self: center;

          @include media-breakpoint-up(lg) {
            text-align: left;
          }
        }

        height: 52px;
        background-color: #ffffff;
        border: none;
        border-radius: 27%;
        text-align: center;
      }

      input[type="button"]{ text-align:center; }
  }
  /* ANNOUNCE AREA END */

  /* SCHEDULE AREA START*/
  .schedule-area {
    .container-fluid {
        overflow: hidden;

        img {
            margin-left: auto;
            margin-right: auto;
        }

        @include media-breakpoint-up(xl) {
            background-image: url(../img/555-copy-3.png), url(../img/555-copy-4.png);
            background-position: right top, left top;
            background-repeat: no-repeat, no-repeat;
            padding-bottom: 45px;
        }

        @include media-breakpoint-down(lg) {
            background-image: url(../img/555-copy-3.png);
            background-position: right top;
            background-repeat: no-repeat;
            padding-bottom: 50px;
        }

        h2 {
            text-align: center;
            margin-top: 75px;
            margin-bottom: 80px;
        }

    }
  }
 /* ANNOUNCE AREA END */