@import "variables";
@import "avenir-next-cyr";
@import "magistral-c";

@import "../../../node_modules/bootstrap/scss/_functions";
@import "../../../node_modules/bootstrap/scss/_variables";
@import "../../../node_modules/bootstrap/scss/_mixins";
@import "../../../node_modules/bootstrap/scss/_root";
@import "../../../node_modules/bootstrap/scss/_reboot";
@import "../../../node_modules/bootstrap/scss/_type";
@import "../../../node_modules/bootstrap/scss/_images";
@import "../../../node_modules/bootstrap/scss/_code";
@import "../../../node_modules/bootstrap/scss/_grid";
@import "../../../node_modules/bootstrap/scss/_tables";
@import "../../../node_modules/bootstrap/scss/_forms";
@import "../../../node_modules/bootstrap/scss/_buttons";
@import "../../../node_modules/bootstrap/scss/_transitions";
@import "../../../node_modules/bootstrap/scss/_dropdown";
@import "../../../node_modules/bootstrap/scss/_button-group";
@import "../../../node_modules/bootstrap/scss/_input-group";
@import "../../../node_modules/bootstrap/scss/_custom-forms";
@import "../../../node_modules/bootstrap/scss/_nav";
@import "../../../node_modules/bootstrap/scss/_navbar";
@import "../../../node_modules/bootstrap/scss/_card";
@import "../../../node_modules/bootstrap/scss/_breadcrumb";
@import "../../../node_modules/bootstrap/scss/_pagination";
@import "../../../node_modules/bootstrap/scss/_badge";
@import "../../../node_modules/bootstrap/scss/_jumbotron";
@import "../../../node_modules/bootstrap/scss/_alert";
@import "../../../node_modules/bootstrap/scss/_progress";
@import "../../../node_modules/bootstrap/scss/_media";
@import "../../../node_modules/bootstrap/scss/_list-group";
@import "../../../node_modules/bootstrap/scss/_close";
@import "../../../node_modules/bootstrap/scss/_toasts";
@import "../../../node_modules/bootstrap/scss/_modal";
@import "../../../node_modules/bootstrap/scss/_tooltip";
@import "../../../node_modules/bootstrap/scss/_popover";
@import "../../../node_modules/bootstrap/scss/_carousel";
@import "../../../node_modules/bootstrap/scss/_spinners";
@import "../../../node_modules/bootstrap/scss/_utilities";
@import "../../../node_modules/bootstrap/scss/_print";
@import "../../../node_modules/owl.carousel/src/scss/owl.carousel.scss";

@import "global";
@import "header";
@import "navigation";
@import "clubs-modal";
@import "footer";
@import "workouts";
@import "club-map";
@import "club-schedule";
@import "club-announce";
@import "club-gallery";
@import "club-page-nav";
@import "club-season";

/* TOP HEADER START */
header {
    position: relative;
    @include media-breakpoint-up(xl) {
        .hex-c {
            width: 100%;
            height: 360px;
            z-index: 2;
            overflow: hidden;

            &::before {
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 13%;
                height: 279px;
                min-width: 2025px;
                width: 100%;
                background: url(../img/group-6.svg);
                background-size: 427px 279px;
                background-repeat: no-repeat;
                background-position-y: top;
                background-position-x: left;
                z-index: 2;
            }
        }
    }
}

.h-top {
    @include media-breakpoint-up(xl) {
        .inner {
            width: 100%;
            height: 585px;
            z-index: 1;
            overflow: hidden;

            &::before {
                content: "";
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                position: absolute;
                width: 1790px;
                height: 466px;
                background-image: url(../img/group-6-copy.svg);
                background-size: auto 100%;
                background-repeat: no-repeat;
                background-position-y: top;
                background-position-x: right;
                z-index: 2;
            }
        }
    }
}
/* TOP HEADER END */

/* NAVBAR START */
nav.navbar {
    position: relative;

    .navbar-nav {
        z-index: 4;
    }
}
/* NAVBAR END */

/* BANNER AREA START*/
.banner-area {
    .banner-container {
        position: relative;
        width: 100%;

        .star {
            width: 14px;
            height: 14px;
        }

        @include media-breakpoint-down(xl) {
            height: 600px;
        }

        @include media-breakpoint-up(xl) {
            height: 497px;
        }

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            background-image: url(../img/bitmap-copy1.png);
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -3;
        }

        @include media-breakpoint-down(lg) {
            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                background-color: rgba(0, 0, 0, 0.5);
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
                z-index: -2;
            }
        }

        .container-fluid {
            position: relative;

            .rectagle-bg {
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: -2;
                overflow: hidden;

                @include media-breakpoint-up(xl) {
                    &::before {
                        content: "";
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        position: absolute;
                        width: 1565px;
                        height: 100%;
                        background-image: url(../img/rectagle-group.svg);
                        background-size: auto 100%;
                        background-repeat: no-repeat;
                        background-position-y: top;
                        background-position-x: right;
                    }
                }
            }
        }

        .container {
            height: 100%;
            justify-content: space-between;
            position: relative;

            @include media-breakpoint-down(lg) {
                padding-left: 0;
                padding-right: 0;
            }
        }

        .promo-block {
            @include media-breakpoint-down(lg) {
                flex: 0 1 65%;
            }

            .quality-b {
                font-size: 16px;
                line-height: 30px;
                color: $white;
                font-weight: 500;
                margin-top: 15px;

                p {
                    margin-bottom: 0;
                }

                a {
                    color: #1eb8ff;
                }
            }

            .inner {
                overflow: hidden;

                @include media-breakpoint-up(xl) {
                    background-image: url(../img/group-4.svg);
                }

                @include media-breakpoint-down(lg) {
                    background-image: url(../img/group2.png);
                }

                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;

                @include media-breakpoint-down(lg) {
                    height: 235px;
                    max-width: 355px;
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 15px;
                    letter-spacing: -0.32px;
                }

                @include media-breakpoint-up(xl) {
                    position: absolute;
                    right: 20px;
                    bottom: -177px;
                    width: 606px;
                    height: 333px;
                    z-index: 4;
                    font-size: 24px;
                }

                > div {
                    transform: rotate(356deg);
                    margin-left: auto;
                    margin-right: auto;

                    @include media-breakpoint-up(xl) {
                        width: 75%;
                        margin-top: 10%;
                    }

                    @include media-breakpoint-down(lg) {
                        width: 81%;
                        margin-top: 14%;
                    }
                }

                h5 {
                    font-weight: bold;
                    text-transform: uppercase;

                    @include media-breakpoint-up(xl) {
                        font-size: 38px;
                        line-height: 1.16;
                        letter-spacing: 0.79px;
                    }

                    @include media-breakpoint-down(lg) {
                        font-size: 24px;
                        line-height: 1.16;
                        letter-spacing: 0.5px;
                    }
                }

                form {
                    @include media-breakpoint-down(lg) {
                        margin-bottom: 10px;
                    }
                    @include media-breakpoint-up(xl) {
                        margin-bottom: 15px;
                    }
                }

                input.form-control {
                    width: 49%;
                    border-radius: 28px;
                    box-shadow: inset 0 0 1px 1px #769203;
                    font-weight: 300;

                    @include media-breakpoint-up(xl) {
                        letter-spacing: -0.39px;
                        font-size: 18px;
                        height: 48px;
                    }

                    @include media-breakpoint-down(lg) {
                        letter-spacing: -0.3px;
                        font-size: 14px;
                        height: 34px;
                    }
                }

                button {
                    width: 49%;
                    height: 48px;
                    border-radius: 32.5px;
                    color: $white;
                    font-weight: bold;

                    @include media-breakpoint-up(xl) {
                        padding-left: 5px;
                        padding-right: 5px;
                        height: 48px;
                        font-size: 16px;
                        letter-spacing: 0.1px;
                    }

                    @include media-breakpoint-down(lg) {
                        letter-spacing: -0.3px;
                        font-size: 12px;
                        padding-left: 0;
                        padding-right: 0;
                        height: 34px;
                    }
                }

                .price {
                    font-weight: 300;
                    color: $black;

                    b {
                        font-weight: 700;
                    }

                    @include media-breakpoint-up(xl) {
                        font-size: 25px;
                        margin-bottom: 15px;
                    }

                    @include media-breakpoint-down(lg) {
                        letter-spacing: -0.27px;
                        font-size: 16px;
                        margin-bottom: 10px;
                    }
                }

                .promo {
                    font-weight: 500;
                }
            }
        }

        .info-div {
            height: auto;
            margin-bottom: 20px;
            background-color: rgba(0, 0, 0, 0.5);
            text-align: center;
            padding: 0 15px;
            padding-bottom: 10px;
            font-size: 15px;
            letter-spacing: 0.06px;
            color: #ffffff;
            flex: 0 1 45%;

            a {
                color: #1eb8ff;
            }

            .info-block {
                &:not(:last-child) {
                    margin-right: 30px;
                }

                > div {
                    &:first-child {
                        font-weight: 500;
                        padding-bottom: 8px;
                        padding-top: 15px;
                        border-bottom: 1px solid #d6ff34;
                    }
                    &:last-child {
                        padding-top: 8px;
                        padding-bottom: 10px;
                        font-weight: 100;
                    }
                }
            }
        }

        .subtitle-div {
            flex: 0 1 55%;
            font-family: "MagistralC";

            @include media-breakpoint-down(lg) {
                flex: 0 1 35%;
            }

            > div {
                @include media-breakpoint-up(xl) {
                    width: 76%;
                }
            }

            h2 {
                font-weight: bold;
                color: $white;

                @include media-breakpoint-up(xl) {
                    margin-top: 40px;
                    font-size: 32px;
                    line-height: 1.25;
                    letter-spacing: 0.67px;
                }

                @include media-breakpoint-down(lg) {
                    margin-top: 30px;
                    font-size: 23px;
                    line-height: 1.25;
                    letter-spacing: 0.48px;
                }
            }

            p {
                color: $white;
                text-align: center;
                margin-bottom: 0;

                @include media-breakpoint-up(xl) {
                    margin-top: 25px;
                    font-size: 26px;
                    line-height: 1.31;
                    letter-spacing: 1.44px;
                }

                @include media-breakpoint-down(lg) {
                    margin-top: 25px;
                    font-size: 20px;
                    line-height: 1.31;
                    letter-spacing: 1.11px;
                }
            }
        }
    }

}
/* BANNER AREA END*/

/* SERVICES AREA START*/
.services-area {
    .services-container {
        overflow: hidden;
        background-color: $primary;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background: url(../img/combined-shape-copy-12.svg);
            background-repeat: repeat-y;
            background-position: center center;
            z-index: 1;
        }

        .container {
            z-index: 2;
            position: relative;
        }

        @include media-breakpoint-up(xl) {
            height: 958px;
        }

        h2 {
            color: $white;
            text-align: center;
            margin-top: 66px;
            margin-bottom: 80px;
        }

        h5 {
            margin: 0;
            text-align: center;
            font-weight: 600;
        }

        $xl-width: 264px;
        $xl-height: 288px;

        .flip-card {
            background-color: transparent;
            width: $xl-width;
            height: $xl-height;
            margin-bottom: 32px;
            cursor: pointer;
            position: relative;
            text-align: center;
            perspective: 1000;

            &:hover > .flip-card-front{
                @include media-breakpoint-up(xl) {
                    transform: rotateY(-180deg) scale(1.034, 1.083);
                }

                @include media-breakpoint-down(lg) {
                    transform: rotateY(-180deg);
                }
            }

            &:hover > .flip-card-back{

                @include media-breakpoint-up(xl) {
                    transform: rotateY(0deg) scale(1.034, 1.083);
                }

                @include media-breakpoint-down(lg) {
                    transform: rotateY(0deg);
                }
            }

            .flip-card-front, .flip-card-back {
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 9px;
                box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.29);
                backface-visibility: hidden;
                transition: transform .8s linear;
                transform-style: preserve-3d;
                perspective: 1000;
            }

            .flip-card-front {
                transform: rotateY(0deg) scale(1, 1);
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-between;
                font-weight: bold;
                color: #000000;
                background-image: linear-gradient(to top, #f8f8f8, #ffffff);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ffffff', GradientType=0 );

                &:hover, &:focus {
                    text-decoration: none;
                }

                h5 {
                    font-size: 24px;
                    letter-spacing: 0.24px;
                    margin-bottom: 20px;
                    width: 100%;
                }

                @include media-breakpoint-up(xl) {
                    padding: 70px 0 35px 0;
                }

                @include media-breakpoint-down(lg) {
                    padding: 55px 0 40px 0;
                }
            }

            .flip-card-back {
                transform: rotateY(180deg);
                background-color: #000000;
                color: white;

                @include media-breakpoint-down(lg) {
                    padding: 50px 22px;
                }

                @include media-breakpoint-up(xl) {
                    padding: 22px;
                }

                h5 {
                    font-weight: 500;
                    font-size: 26px;
                    letter-spacing: 0.26px;
                    color: $primary;
                    margin-bottom: 30px;

                    @include media-breakpoint-down(lg) {
                        display: none;
                    }
                }

                p {
                    text-align: left;
                    font-size: 18px;
                    line-height: 20;
                    font-weight: 100;
                    letter-spacing: 0;
                    line-height: 1.11;
                }

                &.img-bg-1 {
                    background-image: url(../img/fitnessbar.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                &.img-bg-2 {
                    background-image: url(../img/solar.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                &.img-bg-3 {
                    background-image: url(../img/towel.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                &.img-bg-4 {
                    background-image: url(../img/hammam.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                &.img-bg-5 {
                    background-image: url(../img/hammam.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                &.img-bg-6 {
                    background-image: url(../img/parking.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                &.img-bg-7 {
                    background-image: url(../img/parking.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                &.img-bg-8 {
                    background-image: url(../img/dryer.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                }

            }
        }
    }
}
/* SERVICES AREA END*/

/* SCHEME AREA START*/
.scheme-area {
    .container-fluid {
        overflow: hidden;
        background-color: #f5f5f5;

        @include media-breakpoint-up(lg) {
            padding: 80px 0;
            height: 976px;
        }

        @include media-breakpoint-down(md) {
            padding-top: 30px;
            padding-bottom: 27px;
        }
    }

    .scheme {
        position: relative;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 40px;

        > div:first-child {
            @include media-breakpoint-up(lg) {
                height: 549px;
                background-image: url(../img/kupchino-scheme.png);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }

            @include media-breakpoint-down(md) {
                height: 294px;
                background-image: url(../img/kupchino-sm-scheme.png);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }

            width: 100%;
        }

        .off {
            display: none;
        }

        .scheme-slides {
            max-width: 338px;
            margin-top: 40px;
            margin-left: auto;
            margin-right: auto;

            .slide {
                display: flex;
                justify-content: center;
                align-items: center;

                > div:first-child {
                    font-size: 30px;
                    line-height: 44px;
                    letter-spacing: 0.63px;
                    color: $primary;
                    font-weight: bold;
                    margin-right: 15px;
                }

                > div:last-child {
                    text-align: left;
                    max-width: 155px;
                    font-size: 20px;
                    line-height: 21px;
                    letter-spacing: -0.27px;
                }
            }

            .owl-nav {
                position: absolute;
                width: 100%;
                top: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;

                button.owl-prev {
                    background-image: url(../img/groupCopy4.png);
                }

                button.owl-next {
                    background-image: url(../img/groupCopy5.png);
                }


                button.owl-prev,  button.owl-next {
                    cursor: pointer;
                    background-position: center center;
                    background-repeat: no-repeat;
                    width: 52px;
                    height: 52px;
               }
            }
        }
    }

    h2 {
        margin-bottom: 60px;
    }
}
/* SCHEME AREA END*/

