@font-face {
  font-family: "MagistralC";
  font-style: normal;
  font-weight: normal;
  src: local("MagistralC"), url("MagistralC.woff") format("woff");
}

@font-face {
  font-family: "MagistralC Bold";
  font-style: normal;
  font-weight: normal;
  src: local("MagistralC Bold"), url("MagistralC-Bold.woff") format("woff");
}
