b {
  font-weight: 700;
} 

/* TOP HEADER START */
.h-top {
  @include media-breakpoint-up(xl) {
      .inner {
        height: 466px;

          &::before {
              content: "";
              top: -2%;
              left: 50%;
              transform: translateX(-50%);
              position: absolute;
              width: 1835px;
              height: 466px;
              background: url(../img/group-2.svg);
              background-size: auto 100%;
              background-repeat: no-repeat;
              background-position-y: top;
              background-position-x: right;
              z-index: 8;
          }
      }
  }
}
/* TOP HEADER END */

/* BANNER AREA START*/
.banner-area {
  .banner-container {
    position: relative;
    z-index: 10;
    padding: 0;
  }
}
/* BANNER AREA END*/

/* PROMO AREA START*/
.promo-area {
    h4 {
      font-size: 24px;
      font-weight: 300;
      color: $black;
      b {
        font-weight: 600;
      }
    }
  
    p {
      font-size: 18px;
      font-weight: 300;
      line-height: 1.67;
      color: #000000;
    }
  
    .arrow-text {
      font-weight: 300;
      line-height: 1.39;
      color: #81a100;
      
      @include media-breakpoint-up(lg) {
        font-size: 18px;
      }
  
      @include media-breakpoint-down(md) {
        font-size: 14px;
      }
    }
  
    .arrow-btn {
      background-position: center center;
      background-repeat: no-repeat;
      width: 58px;
      height: 58px;
      background-position: center center;
      background-repeat: no-repeat;
  
      &.btn-prev {
        background-image: url(../img/group-copy-7@1x.png);
      }
  
      &.btn-next {
        background-image: url(../img/group-copy-6@1x.png);
      }
    }
  }
  /* PROMO AREA END*/