$white: #ffffff;
$brand: #aacc23; 
$dark: #26272b;
$primary: $brand; 
$navbar-dark-color:                 $white;
$navbar-dark-hover-color:           rgba($white, .75) !default;
$navbar-dark-active-color:          $white !default;
$navbar-dark-disabled-color:        rgba($white, .25) !default;
$navbar-light-toggler-icon-bg:      url(../img/toddler@1x.png); 
//$btn-border-radius:           $border-radius !default;
$btn-border-radius-lg: 32.5px;
$btn-padding-y-lg: 18px;
$btn-padding-x-lg: 40px;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1195px
);
